*,body,figure{margin:0}
fieldset,form,img{border-style:none}
.clearfix:after,.header .mask{content:''}
.section_2 .block ul,a,a:hover{text-decoration:none}
.header .info h4,.header .logo .text h2,.header .title .big_white,.section_4 h2,.section_5 h2,.section_6 h2,.section_7 h2{text-transform:uppercase}
.button,.popup_form .button{box-shadow:0 5px 0 rgba(0,0,0,.5)}
::-webkit-input-placeholder{color:#b4b4b4;opacity:1}
:-moz-placeholder{color:#b4b4b4;opacity:1}
::-moz-placeholder{color:#b4b4b4;opacity:1}
:-ms-input-placeholder{color:#b4b4b4;opacity:1}
html{box-sizing:border-box}
*,:after,:before{box-sizing:inherit}
*{padding:0;outline:0!important;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;list-style:none;resize:none;max-height:1000000px}
body{background:#fff;font-family:Conv_Gilroylight;font-size:26px;line-height:normal;color:#070504;-webkit-text-size-adjust:100%;-ms-text-size-adjust:none}
img{vertical-align:top;max-width:100%}
a:hover{opacity:.8;transition:all .5s ease}
a:active{background-color:transparent}
input,select,textarea{vertical-align:middle;border:1px solid #ccc;border-radius:5px}
article,aside,figure,footer,header,hgroup,main,nav,section{display:block}
figure{padding:0}
fieldset,form{margin:0;padding:0}
input[type=file],input[type=password],input[type=submit],input[type=text],textarea{-webkit-appearance:none}
input[type=submit],input[type=text],textarea{-webkit-border-radius:0}
button,input[type=image]{padding:0;border:none}
input[type=submit]::-moz-focus-inner{border:0}
button,input[type=submit]{cursor:pointer}
@font-face{font-family:Conv_bebasneuebold;src:url(../fonts/bebasneuebold.eot);src:local('☺'),url(../fonts/bebasneuebold.woff) format('woff'),url(../fonts/bebasneuebold.ttf) format('truetype'),url(../fonts/bebasneuebold.svg) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:Conv_Gilroyextrabold;src:url(../fonts/Gilroyextrabold.eot);src:local('☺'),url(../fonts/Gilroyextrabold.woff) format('woff'),url(../fonts/Gilroyextrabold.ttf) format('truetype'),url(../fonts/Gilroyextrabold.svg) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:Conv_Gilroylight;src:url(../fonts/Gilroylight.eot);src:local('☺'),url(../fonts/Gilroylight.woff) format('woff'),url(../fonts/Gilroylight.ttf) format('truetype'),url(../fonts/Gilroylight.svg) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:Conv_pfdintextcomppro-medital;src:url(../fonts/pfdintextcomppro-medital.eot);src:local('☺'),url(../fonts/pfdintextcomppro-medital.woff) format('woff'),url(../fonts/pfdintextcomppro-medital.ttf) format('truetype'),url(../fonts/pfdintextcomppro-medital.svg) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:Conv_pfdintextpro-meditalic;src:url(../fonts/pfdintextpro-meditalic.eot);src:local('☺'),url(../fonts/pfdintextpro-meditalic.woff) format('woff'),url(../fonts/pfdintextpro-meditalic.ttf) format('truetype'),url(../fonts/pfdintextpro-meditalic.svg) format('svg');font-weight:400;font-style:normal}
.clearfix:after{display:block;width:100%;clear:both}
.button,.header .logo .text{display:inline-block;color:#fff}
.button{padding:0 20px;vertical-align:top;font-family:Conv_bebasneuebold;border-radius:5px;font-size:45px;line-height:85px;height:73px;width:451px;background:#ff0344;background:linear-gradient(to right,#ff0344 0,#ff0344 33%,#ff143d 39%,#ff2837 44%,#ff7918 61%,#fe970c 69%,#ff980d 69%,#ff9c0b 70%,#ffb204 76%,#ffba00 81%,#ffb900 100%)}
.header .logo .text h2,.header .logo .text p{font-family:Conv_pfdintextcomppro-medital}
.button img{vertical-align:middle}
.header{overflow:hidden;position:relative;z-index:20;padding:153px 90px 230px 163px;background:url(../img/header_bg.png) 50% 0 no-repeat}
.header .logo{margin-bottom:113px;text-align:left;float:left}
.header .logo .text{margin-left:17px}
.header .logo .text .table{display:table-cell;height:117px;vertical-align:middle}
.header .logo .text h2{font-size:62px;line-height:68px;white-space:nowrap;letter-spacing:1.7px}
.header .logo .text p{font-size:20px;line-height:22px}
.header .pic{display:none}
.header .mask{position:absolute;bottom:3px;left:0;height:164px;width:100%;overflow:hidden}
.header .mask:after,.header .mask:before{z-index:6;position:absolute;bottom:1px;background:#ffc833;height:160px;width:2000px;content:''}
.header .mask:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.header .mask:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg)}
.header .info,.header .title,.header .title .countdown{position:relative;z-index:1}
.header .info{float:right;text-align:left;padding-right:23px}
.header .info h4{font-family:Conv_bebasneuebold;font-size:27px;line-height:28px;white-space:nowrap}
.header .info a,.header .title p{font-family:Conv_Gilroylight;color:#fff}
.header .info a{font-size:19px;line-height:19px;white-space:nowrap}
.header .info img{float:left;margin-right:13px}
.header .info .text{color:#fff;display:inline-block}
.header .info .account{display:block;margin-bottom:40px;font-size:0}
.header .info .account .text{padding-top:24px;font-size:15px}
.header .info .instagram{display:block;padding-top:3px;font-size:0}
.header .info .instagram .text{margin-top:4px;font-size:15px}
.header .info .instagram .text h4{line-height:26px;font-size:25px}
.header .title{float:left;width:100%;clear:left}
.header .title .margin_top_17{margin-top:-17px;margin-bottom:57px}
.header .title .letter_space_1_6{letter-spacing:1.6px}
.header .title .m_left{margin-left:29px;font-size:20px;margin-top:2px;float:left;width:100%}
.header .title p{font-size:25px;line-height:36px}
.header .title p span{font-family:Conv_Gilroyextrabold}
.header .title .big_white,.header .title .big_yellow,.header .title p .big,.section_2 h2{font-family:Conv_bebasneuebold}
.header .title p .big{color:#fbc533;font-size:82px;line-height:0}
.header .title p img{vertical-align:bottom}
.header .title .lineheight_0{line-height:0}
.header .title .dots{display:inline-block;width:229px;height:8px;background:url(../img/dot.png) no-repeat}
.header .title .lineheight_16{display:inline-block;line-height:16px;margin-top:-3px;margin-bottom:30px}
.header .title .big_yellow{text-transform:uppercase;color:#ffc833;font-size:108px;line-height:93px}
.header .title .big_white{color:#fff;font-size:128px;line-height:134px}
.header .title .countdown{margin-top:22px}
.header .title .countdown .button{margin-left:17px}
.header .title .countdown .button img{float:right;padding-top:12px}
.header .title .countdown .count{float:left;padding:23px 22px 17px 27px;border:3px solid #fff;border-radius:5px;width:294px;color:#3c3c3c;text-align:center}
.header .title .countdown .count:after{content:'';width:100%;display:block;clear:both}
.header .title .countdown .count div{display:table-cell;font-size:46px;line-height:24px;width:25%;color:#fff}
.section_2,.section_3{color:#070504;overflow:hidden}
.header .girl{width:659px;height:1117px;background:url(../img/header_girl.png) no-repeat;position:absolute;top:23px;left:50%;margin-left:14px}
.section_2,.section_2 .block,.section_2 p,.section_3{position:relative}
.section_2{background:url(../img/section_2_bg.png) 50% 100% no-repeat;padding:250px 40px 228px;margin-top:-162px;text-align:center;z-index:19}
.section_2 h2{font-size:84px;line-height:86px}
.section_2 p{z-index:1;margin-top:-9px;margin-bottom:92px;font-size:32px;line-height:39px}
.section_2 .block{width:46%;z-index:1;float:right;padding-right:10%}
.section_2 .block ul li{text-align:left;margin:0 0 10px;padding:0}
.section_2 .block ul li img{float:left;margin-right:10px}
.section_2 .block ul li .table{height:107px;display:table-cell;vertical-align:middle}
.section_2 .block .img{margin-top:85px;padding-right:159px;margin-bottom:80px}
.section_2 .block p{font-family:Conv_Gilroyextrabold;font-size:60px;line-height:62px;margin-bottom:0;padding-right:161px}
.section_3 h2,.section_4 h2,.section_4 h3,.section_5 h2{font-family:Conv_bebasneuebold}
.section_2 .girl{width:950px;height:950px;position:absolute;right:50%;bottom:13px;margin-right:-87px;background:url(../img/2_section_girl.png)}
.section_2:after,.section_2:before{display:none;content:'';z-index:6;bottom:-10px;background:#fff;height:86px;width:2000px;position:absolute}
.section_2:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.section_2:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg)}
.section_3{background:url(../img/section_3_bg.png) 50% 100% no-repeat;padding:103px 163px 228px;z-index:17;text-align:center}
.section_3 .block,.section_3 .wrap,.section_3 h2,.section_3 p{position:relative;z-index:1}
.section_3 h2{font-size:84px;line-height:86px}
.section_3 p{margin-top:-9px;margin-bottom:97px;font-size:32px;line-height:39px}
.section_3 .wrap{clear:both}
.section_3 .block{width:43%;float:left;margin-bottom:48px}
.section_3 .block ul li{margin-bottom:30px}
.section_3 .block ul li .img{margin-right:19px;float:left;width:110px}
.section_3 .block ul li .table{text-align:left;height:120px;display:table-cell;vertical-align:middle;line-height:38px}
.section_3 .button .img{float:right;margin-left:18px}
.section_3 .masters{position:absolute;width:1253px;height:1107px;right:-8px;bottom:18px;background:url(../img/section_3_img.png) no-repeat}
.section_3:after,.section_3:before{z-index:6;position:absolute;bottom:16px;background:#000;width:2000px;content:'';height:160px}
.section_3:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.section_3:after{right:0;-ms-transform:translateX(50%) rotate(-9.45deg);transform:translateX(50%) rotate(-9.45deg)}
.section_4{padding:110px 200px 168px;background:url(../img/section_4_bg.png) 50% 0 no-repeat;position:relative;z-index:18;margin-top:-15px;text-align:center}
.section_4 h2{font-size:84px;line-height:86px;color:#fff;margin-bottom:90px;position:relative;z-index:1}
.section_4 h3{color:#ffc833;font-size:60px;line-height:62px;text-align:left;margin-bottom:14px}
.section_4 p{color:#fff;text-align:left;line-height:38px;font-size:26px;padding-right:112px;letter-spacing:1px}
.section_4 .block{padding-left:4px;width:44%;float:right;position:relative;z-index:1}
.section_4 ul{margin-bottom:86px;text-align:left}
.section_4 ul li{width:100%;display:inline-block;font-size:26px;line-height:28px;color:#fff;overflow:hidden;margin-bottom:13px}
.section_4 ul li .text{overflow:hidden;font-size:26px;line-height:40px}
.section_4 ul li img{float:left;margin-right:30px}
.section_4 .girl{width:1024px;height:1308px;position:absolute;left:0;top:-130px;margin-right:-87px;background:url(../img/section_4_img.png)}
.section_4 .mask{content:'';position:absolute;bottom:0;left:0;height:160px;width:100%;overflow:hidden}
.section_4 .mask:after,.section_4 .mask:before{z-index:6;position:absolute;bottom:0;height:160px;width:2000px;background:#ffc833;content:''}
.section_4 .mask:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.section_4 .mask:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg)}
.section_5,.section_5 .list .item{position:relative;text-align:center}
.section_5{background:#ffc833;padding:112px 30px 141px;overflow:hidden;z-index:19}
.section_5 h2{color:#000;font-size:84px;line-height:84px;margin-bottom:37px}
.section_5 h3{font-family:Conv_Gilroyextrabold;color:#000;font-size:36px;line-height:48px;margin-bottom:87px}
.section_5 .block .item .text,.section_5 .list .item .text,.section_5 p{font-size:26px;line-height:38px}
.section_5 .block{display:inline-block;padding:0 135px;vertical-align:top;margin-bottom:82px;width:100%}
.section_5 .block .item{text-align:center;width:20%;float:left}
.section_5 .block .item .center{display:inline-block;margin-bottom:33px}
.section_5 .block .item .center .img{display:table-cell;height:242px;vertical-align:bottom}
.section_5 .list{padding:0 282px;display:inline-block;vertical-align:top;width:100%;margin-bottom:41px}
.section_5 .list .item{width:25%;float:left}
.section_5 .list .item:before{content:'';width:68px;height:63px;position:absolute;top:-31px;left:10px;background:url(../img/vector.png) no-repeat}
.section_5:after,.section_5:before{content:'';z-index:6;position:absolute;width:2000px;bottom:0}
.section_5 .list .item .center{display:inline-block;margin-bottom:15px}
.section_5 .list .item .center .img{display:table-cell;height:120px;vertical-align:middle}
.section_5 p{padding:0 539px;margin-bottom:90px}
.section_5 .button{line-height:82px}
.section_5 .button img{float:right;padding-top:12px}
.section_5:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg);background:#fff;height:160px}
.section_5:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg);background:#fff;height:160px}
.section_6{padding:106px 120px 205px;text-align:center;position:relative;z-index:20}
.section_6 .img_1,.section_6 .img_2,.section_6 .img_3,.section_6 .img_4,.section_6 .mask{content:'';position:absolute}
.section_6 h2{font-family:Conv_bebasneuebold;font-size:60px;line-height:60px;color:#000;padding:0 450px}
.section_6 h2 span{color:#ffc833}
.section_6 p{font-size:30px;line-height:34px;letter-spacing:1px;margin-bottom:92px}
.section_6 .table{width:942px;display:inline-block;vertical-align:top}
.section_6 .table table{border-spacing:0}
.section_6 .table table thead tr td{color:#fff;height:120px;border-right:20px solid #e5e5e5;width:25%;font-family:Conv_Gilroyextrabold;font-size:24px;line-height:26px}
.section_6 .table table thead tr td:nth-child(1){border-right:none;background:#fff}
.section_6 .table table thead tr td:nth-child(2){background:#ffa50d}
.section_6 .table table thead tr td:nth-child(3){background:#ff5329}
.section_6 .table table thead tr td:nth-child(4){background:#ff3035;border-right:none}
.section_6 .table table tbody tr:last-child td{border-bottom:none!important;height:98px}
.section_6 .table table tbody tr td{border-right:20px solid #e5e5e5;color:#000;height:109px;font-family:Conv_Gilroyextrabold;font-size:60px}
.section_6 .table table tbody tr td img{vertical-align:middle;margin-bottom:15px}
.section_6 .table table tbody tr td .text{text-align:left;font-size:24px;line-height:40px;padding:0 20px}
.section_6 .table table tbody tr td .text span{font-size:36px}
.section_6 .table table tbody tr td:first-child{text-align:left;font-family:Conv_Gilroylight;padding:10px 19px;width:25%;background:#000;color:#fff;border-right:none;font-size:18px;line-height:20px;border-bottom:11px solid #fff}
.section_6 .table table tbody tr td:last-child{border-right:none;background:#e8d3d3;width:24%;border-bottom:11px solid #ffeaea}
.section_6 .table table tbody tr td:nth-child(2){background:#e8decf;width:25%;border-bottom:11px solid #fff6e6}
.section_6 .table table tbody tr td:nth-child(3){background:#e8d6d2;width:26%;border-bottom:11px solid #ffede9}
.section_6 .img_1{width:417px;height:697px;background:url(../img/tab_img1_1920.jpg) no-repeat;top:197px;right:0}
.section_6 .img_2{top:266px;left:153px}
.section_6 .img_3{bottom:536px;left:70px}
.section_6 .img_4{bottom:188px;right:94px}
.section_6 .mask{bottom:0;left:0;height:160px;width:100%;overflow:hidden}
.section_6 .mask:after,.section_6 .mask:before{content:'';z-index:6;position:absolute;bottom:0;height:160px;width:2000px;background:#000}
.section_6 .mask:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.section_6 .mask:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg)}
.section_7{padding:113px 162px 127px;overflow:hidden;position:relative;background:#000;text-align:center}
.section_7 h2{color:#fff;font-family:Conv_bebasneuebold;font-size:84px;line-height:84px;margin-bottom:83px}
.section_7 .block{margin-bottom:79px;width:60%;float:left}
.section_7:after,.section_7:before{z-index:6;bottom:-4px;background:#ffc833;height:162px;width:2000px;position:absolute;content:''}
.section_7 .block .mb_51{margin-bottom:51px!important}
.section_7 .block .mb_45{margin-bottom:45px!important}
.section_7 .block .mb_40{margin-bottom:40px!important}
.section_7 .block .pt_25{padding-top:25px!important}
.section_7 .block .item{margin-bottom:11px}
.section_7 .block .item .img{float:left;margin-right:32px}
.section_7 .block .item .text{font-size:25px;line-height:37px;padding-top:34px;color:#fff;overflow:hidden;text-align:left}
.section_13,.section_14,.section_8{text-align:center}
.section_7 .block .item .text h3{color:#ffc833;font-family:Conv_Gilroyextrabold;font-size:36px;line-height:38px}
.section_7 .wrap{clear:both}
.section_7 .button{margin-left:3px}
.section_7:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.section_7:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg)}
.section_7 .phone{position:absolute;content:'';width:845px;height:845px;top:265px;right:39px;background:url(../img/phone.png) no-repeat}
.section_8,.section_8 .slider{position:relative}
.section_8{padding:109px 312px 256px;background:#ffc833}
.section_8 h2{font-size:84px;line-height:84px;font-family:Conv_bebasneuebold;color:#000;margin-bottom:122px}
.section_8 .slider_wrap{display:inline-block;position:relative;width:955px;z-index:1}
.section_8 .mask,.section_8 .slider .slick-next:before,.section_8 .slider .slick-prev:before,.section_8 .slider:after,.section_8 .slider:before{content:'';position:absolute}
.section_8 .slider:after,.section_8 .slider:before{width:80px;height:59px}
.section_8 .slider:before{top:-29px;left:-152px;background:url(../img/slider_1.png) no-repeat}
.section_8 .slider:after{bottom:-29px;right:-173px;background:url(../img/slider_2.png) no-repeat}
.section_8 .slider .slick-prev{width:99px;height:99px;left:-45.3%;top:42%;background:rgba(0,0,0,.5)}
.section_8 .slider .slick-prev:before{width:40px;height:64px;background:url(../img/left.png);top:17px;left:28px;opacity:1}
.section_8 .slider .slick-prev:hover{background:#000}
.section_8 .slider .slick-prev:hover:before{background:url(../img/left.png) 0 -64px}
.section_8 .slider .slick-next{width:99px;height:99px;right:-45.1%;top:42%;background:rgba(0,0,0,.5)}
.section_8 .slider .slick-next:before{width:40px;height:64px;background:url(../img/right.png) 0 -64px;top:15px;right:28px;opacity:1}
.section_8 .slider .slick-next:hover{background:#000}
.section_8 .slider .slick-next:hover:before{background:url(../img/right.png)}
.section_8 .mask{bottom:-5px;left:0;height:165px;width:100%;overflow:hidden}
.section_8 .mask:after,.section_8 .mask:before{z-index:6;bottom:0;height:165px;width:2000px;position:absolute;background:#fff;content:''}
.section_8 .mask:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.section_8 .mask:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg)}
.section_8 .grid{content:'';position:absolute;width:862px;height:907px;bottom:-5px;left:-136px}
.section_10,.section_11,.section_12,.section_9{padding:108px 0 160px;text-align:center;position:relative;z-index:21;background:#fff}
.section_10 h2,.section_11 h2,.section_12 h2,.section_9 h2{color:#ffc833;font-family:Conv_bebasneuebold;font-size:83px;line-height:84px;margin-right:5px}
.section_10 .text,.section_11 .text,.section_12 .text,.section_9 .text{margin-bottom:63px;position:relative;font-family:Conv_Gilroyextrabold;color:#000;font-size:48px;line-height:50px;margin-top:26px;margin-right:4px;z-index:1}
.section_10 .text:before,.section_11 .text:before,.section_12 .text:before,.section_9 .text:before{position:absolute;content:'';width:40px;height:29px;top:-7px;left:28.2%;background:url(../img/slider_1_768.png) no-repeat}
.section_10 .text:after,.section_11 .text:after,.section_12 .text:after,.section_9 .text:after{position:absolute;content:'';width:40px;height:29px;top:26px;right:28.2%;background:url(../img/slider_2_768.png) no-repeat}
.section_10 .block,.section_11 .block,.section_12 .block,.section_9 .block{padding:0 643px;font-size:26px;line-height:39px;margin-bottom:35px}
.section_10 .img,.section_11 .img,.section_12 .img,.section_9 .img{position:absolute;content:'';left:255px;bottom:269px}
.section_10 .girl,.section_11 .girl,.section_12 .girl,.section_9 .girl{position:absolute;content:'';width:566px;height:859px;background:url(../img/section_9_girl.png) no-repeat;right:0;bottom:82px}
.section_10 .mask,.section_11 .mask,.section_12 .mask,.section_9 .mask{content:'';position:relative;bottom:-160px;left:0;height:160px;width:100%;overflow:hidden}
.section_10 .mask:before,.section_11 .mask:before,.section_12 .mask:before,.section_9 .mask:before{content:'';z-index:6;position:absolute;left:0;bottom:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg);background:#f0f0f0;height:160px;width:2000px}
.section_10 .mask:after,.section_11 .mask:after,.section_12 .mask:after,.section_9 .mask:after{content:'';z-index:6;position:absolute;right:0;bottom:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg);background:#f0f0f0;height:160px;width:2000px}
.section_10{background:#f0f0f0;padding:160px 0 0;z-index:22}
.section_10 h2{color:#ff9e10;margin-right:0;margin-left:11px}
.section_10 .mask{bottom:10px}
.section_10 .mask:after,.section_10 .mask:before{background:#ddd}
.section_10 .img{right:157px;bottom:285px;left:auto}
.section_10 .text{margin-bottom:0}
.section_10 .text:before{left:33%}
.section_10 .text:after{right:32.8%}
.section_10 .slogan{font-family:Conv_Gilroylight;font-size:32px;line-height:39px;color:#000;margin-bottom:61px}
.section_10 .block{padding:0 635px}
.section_10 .girl{width:620px;height:905px;background:url(../img/section_10_girl.png) no-repeat;left:-8px;bottom:68px}
.section_11{padding:110px 0 115px;z-index:23;background:#ddd;margin-top:-10px}
.section_11 h2{color:#ff8b11;font-family:Conv_bebasneuebold;font-size:83px;line-height:84px;margin-right:0;margin-left:12px}
.section_11 .slogan,.section_12 .slogan{font-family:Conv_Gilroylight}
.section_11 .slogan{font-size:32px;line-height:39px;color:#000;margin-bottom:61px;margin-left:13px}
.section_11 .text{margin-bottom:0;margin-right:8px}
.section_11 .text:before{left:35.3%}
.section_11 .text:after{right:35.2%}
.section_11 .block{padding:0 643px;font-size:26px;line-height:39px;margin-bottom:35px}
.section_11 .img{left:191px;bottom:289px}
.section_11 .girl{width:620px;height:902px;background:url(../img/section_11_girl.png) no-repeat;right:0;bottom:57px}
.section_11 .mask{content:'';position:relative;bottom:-115px;left:0;height:160px;width:100%;overflow:hidden}
.section_11 .mask:after,.section_11 .mask:before{z-index:6;width:2000px;background:#cdcdcd;content:'';position:absolute;bottom:0;height:160px}
.section_11 .mask:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.section_11 .mask:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg)}
.section_12{height:800px;background:#cdcdcd;padding:108px 0 0;z-index:24}
.section_12 h2{color:#ff751a;margin-right:0;margin-left:12px}
.section_12 .mask{position:absolute;bottom:0}
.section_12 .mask:after,.section_12 .mask:before{background:#000}
.section_12 .img{right:321px;bottom:192px;left:auto}
.section_12 .text{margin-right:13px;margin-bottom:0}
.section_12 .text:before{left:31.7%}
.section_12 .text:after{right:31.6%}
.section_12 .slogan{margin-left:11px;font-size:32px;line-height:39px;color:#000}
.section_13 h2,.section_14 h2{font-family:Conv_bebasneuebold;text-transform:uppercase}
.section_12 .girl{width:882px;height:948px;background:url(../img/section_12_girl.png) no-repeat;left:-8px;bottom:14px}
.section_13{padding:108px 0;background:#000;height:1290px;position:relative;z-index:25}
.section_13 h2{color:#fff;font-size:84px;line-height:86px;margin-bottom:103px}
.section_13 .block{display:inline-block;width:100%;max-width:1436px;vertical-align:top}
.section_13 .block .item{float:left;width:33.33%}
.section_13 .block .item .img{margin-bottom:40px}
.section_13 .block .item .text{padding:0 35px;color:#fff;font-size:26px;line-height:36px}
.section_13 .menu{position:relative;bottom:-102px;left:50%;-ms-transform:translateX(-50%);transform:translateX(-50%);z-index:7}
.section_13 .mask{content:'';position:absolute;bottom:0;left:0;height:160px;width:100%;overflow:hidden}
.section_13 .mask:after,.section_13 .mask:before{z-index:6;width:2000px;background:#ffc833;content:'';position:absolute;bottom:0;height:160px}
.section_13 .mask:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.section_13 .mask:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg)}
.section_14{padding:264px 320px 160px;background:#ffc833;position:relative;z-index:24;height:1420px}
.section_14 h2{color:#000;font-size:84px;line-height:86px;margin-bottom:96px}
.section_14 .left .text h3,.section_14 .left .text span,.section_14 .right .item .text h4,.section_14 .right .item .text span{font-family:Conv_Gilroyextrabold}
.section_14 .left{width:61%;float:left}
.section_14 .left .text{padding:0 125px;font-size:30px;line-height:39px;margin-bottom:36px}
.section_14 .left .text h3{text-transform:uppercase;font-size:42px;line-height:44px;margin-bottom:2px}
.section_14 .left .img{margin-left:14px;width:674px;height:615px;background:url(../img/trener.png) 50% 50% no-repeat}
.section_14 .right{width:39%;float:right}
.section_14 .right .mb_69{margin-bottom:69px!important}
.section_14 .right .item{margin-bottom:92px;padding-right:159px}
.section_14 .right .item .img{float:left;margin-left:-18px;margin-top:2px;margin-right:20px}
.section_14 .right .item .text{margin-top:-4px;text-align:left;overflow:hidden;font-size:18px;line-height:24px}
.section_14 .right .item .text h4{font-size:26px;line-height:36px;margin-bottom:9px}
.section_14 .mask{content:'';position:absolute;bottom:0;left:0;height:160px;width:100%;overflow:hidden}
.section_14 .mask:after,.section_14 .mask:before{z-index:6;position:absolute;background:#fff;width:2000px;content:'';bottom:0;height:160px}
.section_14 .mask:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.section_14 .mask:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg)}
.section_15{padding:114px 475px 160px;text-align:center;position:relative;z-index:25}
.section_15 .countdown,.section_15 .form,.section_15 .wrap_c{position:relative;z-index:1}
.section_15 h2{font-size:84px;line-height:84px;font-family:Conv_bebasneuebold;color:#000;margin-bottom:108px;margin-right:8px}
.section_15 p{font-family:Conv_Gilroylight;font-size:25px;line-height:36px;color:#000}
.section_15 p span{font-family:Conv_Gilroyextrabold}
.section_15 .big_white,.section_15 .big_yellow,.section_15 p .big{font-family:Conv_bebasneuebold}
.section_15 p .big{color:#fbc533;font-size:82px;line-height:0}
.section_15 p img{vertical-align:bottom}
.section_15 .dots{display:inline-block;width:229px;height:8px;background:url(../img/dot.png) no-repeat}
.section_15 .lineheight_16{margin-left:-1px;letter-spacing:1.6px;display:inline-block;line-height:16px;margin-top:-3px;margin-bottom:31px}
.section_15 .letter_space_1_6{letter-spacing:1.6px;margin-left:-160px}
.section_15 .big_yellow{text-transform:uppercase;color:#ffc833;font-size:108px;line-height:93px}
.section_15 .big_white{text-transform:uppercase;color:#fff;font-size:128px;line-height:134px}
.section_15 .countdown{margin-bottom:91px;margin-top:22px}
.section_15 .countdown .count{display:inline-block;padding:22px 20px 19px 25px;margin-right:11px;border:3px solid #000;border-radius:5px;width:294px;color:#3c3c3c;text-align:center}
.section_15 .countdown .count:after{content:'';width:100%;display:block;clear:both}
.section_15 .countdown .count div{display:table-cell;font-size:47px;line-height:24px;width:25%;color:#000}
.section_15 .countdown p{font-size:20px;line-height:30px}
.section_15 .form{text-align:left}
.section_15 .girl,.section_15 .mask{content:'';position:absolute}
.section_15 .form .wrap{text-align:center}
.section_15 .form .form_group{width:33.3%;float:left}
.section_15 .form .form_group input{padding:25px 18px;font-family:Conv_Gilroylight;width:301px;border:1px solid #b4b4b4;color:#b4b4b4;font-size:19px;line-height:19px;background:rgba(255,255,255,.8)}
.popup_form .error input,.section_15 .error input{border:1px solid red!important}
.section_15 .form .form_group:last-child input{margin-right:0}
.section_15 .form .button{margin-top:49px;margin-left:-9px}
.section_15 .girl{right:0;bottom:34px;width:751px;height:1009px;background:url(../img/section_15_img.png) no-repeat}
.section_15 .mask{bottom:0;left:0;height:160px;width:100%;overflow:hidden}
.section_15 .mask:after,.section_15 .mask:before{content:'';z-index:6;position:absolute;bottom:0;background:#000;height:160px;width:2000px}
.section_15 .mask:before{left:0;-ms-transform:translateX(-50%) rotate(9.5deg);transform:translateX(-50%) rotate(9.5deg)}
.section_15 .mask:after{right:0;-ms-transform:translateX(50%) rotate(-9.5deg);transform:translateX(50%) rotate(-9.5deg)}
.footer{position:relative;z-index:26;padding:0 80px;margin-top:-72px;height:72px;background:0 0;color:#fff;font-size:12px;line-height:24px}
.popup_form,.popup_thx{display:none;width:450px;height:auto;text-align:center; overflow: hidden}
.footer .left{float:left;line-height:18px;}
.footer .left a {color: #ffffff; text-decoration: underline;}
.footer .right{background:#000;float:right}
.popup_form,.popup_form#login_form,.popup_thx{background:#fff}
.popup_thx{padding:245px 20px 0}
.popup_thx h2{font-family:Conv_bebasneuebold;font-size:128px;line-height:130px;color:#ffc833}
.popup_thx p{font-size:28px;line-height:32px;color:#000}
.popup_form{padding:20px 60px;color:#000}
.popup_form .form_group{margin-bottom:20px;display:inline-block;width:100%}
.popup_form input{margin-bottom: 15px; padding:25px 18px;font-family:Conv_Gilroylight;width:100%;max-width:460px;border:1px solid #000;color:#000;font-size:19px;border-radius:0;line-height:19px;background:0 0}
.popup_form input::-webkit-input-placeholder{color:#000}
.popup_form input::-moz-placeholder{color:#000}
.popup_form .button{letter-spacing:1.6px;padding:0 20px;display:inline-block;vertical-align:top;font-family:Conv_bebasneuebold;border-radius:5px;font-size:35px;line-height:68px;height:60px;width:100%;max-width:452px;color:#fff;background:#ff0344;background:linear-gradient(to right,#ff0344 0,#ff0344 33%,#ff143d 39%,#ff2837 44%,#ff7918 61%,#fe970c 69%,#ff980d 69%,#ff9c0b 70%,#ffb204 76%,#ffba00 81%,#ffb900 100%)}
.popup_form .button img{float:right;width:45px;margin-top:10px;margin-left:18px;vertical-align:middle}
@media only screen and (max-width:1919px){.header{height:auto;padding:150px 0 230px 53px}
.header .title .margin_top_17{margin-bottom:58px}
.header .title .countdown{margin-top:21px}
.header .mask{bottom:0}
.header .pic{display:none}
.header .girl{width:619px;height:1121px;background:url(../img/1366_girl.png) no-repeat;top:21px;left:50%;margin-left:-70px}
.section_2{padding:267px 40px 229px}
.section_2 .block{width:49%;padding-right:0}
.section_2 .block .img,.section_2 .block p{padding-right:148px}
.section_3{padding:113px 68px 228px}
.section_3 .block{width:55%}
.section_3 .masters{width:919px;height:876px;right:0;bottom:18px;background:url(../img/section_3_1366_img.png) no-repeat}
.section_3:after,.section_3:before{display:block}
.section_4{padding:110px 90px 168px}
.section_4 .block{padding-left:2px;width:56%;float:right}
.section_4 .girl{width:718px;height:1295px;left:0;top:-163px;background:url(../img/section_4_1366_img.png)}
.section_5{padding:112px 30px 186px}
.section_5 p{padding:0 290px}
.section_5 .block{margin-bottom:71px;padding:0 70px}
.section_5 .block .item{text-align:center;width:33%;float:none;display:inline-block;vertical-align:top;margin:0 -3px 10px 0}
.section_10 h2,.section_12 h2{margin-left:11px}
.section_10 h2,.section_12 h2,.section_15 h2{margin-right:0}
.section_5 .block .item .text{padding:0 52px}
.section_5 .list{padding:0 12px}
.section_6{padding:53px 0 250px}
.section_6 h2{padding:0 300px}
.section_6 .img_1{width:245px;height:395px;background:url(../img/tab_img1_1366.jpg) no-repeat;top:-36px;right:0}
.section_6 .img_2{top:189px;left:0;width:298px}
.section_6 .img_3{bottom:451px;left:15px}
.section_6 .img_4{bottom:181px;right:7px;width:187px}
.section_7{padding:69px 53px 170px}
.section_7 .block{width:70%}
.section_7 .phone{width:391px;height:785px;background:url(../img/phone_1366.png) no-repeat;right:57px;top:261px}
.section_8{padding:69px 45px 324px}
.section_8 .slider:after{right:-151px}
.section_8 .slider .slick-prev{left:-16%}
.section_8 .slider .slick-next{right:-16%}
.section_8 .mask,.section_8 .mask:after,.section_8 .mask:before{height:190px}
.section_8 .grid{bottom:-6px;left:-130px}
.section_10,.section_11,.section_12,.section_9{padding:110px 0 160px;margin-top:-28px;height:805px}
.section_10 .text:before,.section_11 .text:before,.section_12 .text:before,.section_9 .text:before{left:19.8%}
.section_10 .text:after,.section_11 .text:after,.section_12 .text:after,.section_9 .text:after{right:19.4%}
.section_10 .block,.section_11 .block,.section_12 .block,.section_9 .block{padding:0 360px;min-height:117px}
.section_10 .img,.section_11 .img,.section_12 .img,.section_9 .img{left:85px;bottom:209px}
.section_10 .girl,.section_11 .girl,.section_12 .girl,.section_9 .girl{background:url(../img/section_9_1366_girl.png) no-repeat;width:277px;height:852px;bottom:113px}
.section_10 .mask,.section_11 .mask,.section_12 .mask,.section_9 .mask{bottom:-162px}
.section_10{background:#f0f0f0;padding:160px 0 45px;margin-top:0}
.section_10 .mask{bottom:8px}
.section_10 .img{left:auto;right:36px;bottom:278px}
.section_10 .text:before{left:26.4%}
.section_10 .text:after{right:25.9%}
.section_10 .block{min-height:195px;padding:0 358px}
.section_10 .girl{width:354px;height:859px;background:url(../img/section_10_1366_girl.png) no-repeat;left:0;bottom:105px}
.section_11{margin-top:-6px;padding:112px 0 160px}
.section_11 .text:before{left:29.6%}
.section_11 .text:after{right:29.2%}
.section_11 .block{padding:0 360px;min-height:117px}
.section_11 .img{left:39px;bottom:328px}
.section_11 .girl{background:url(../img/section_11_1366_girl.png) no-repeat;width:398px;height:867px;bottom:97px}
.section_11 .mask{bottom:-118px}
.section_12{padding:103px 0 45px;margin-top:-4px}
.section_12 .mask{bottom:4px}
.section_12 .img{left:auto;right:153px;bottom:163px}
.section_12 .text:before{left:24.6%}
.section_12 .text:after{right:24.1%}
.section_12 .block{min-height:195px;padding:0 358px}
.section_12 .girl{width:636px;height:907px;background:url(../img/section_12_1366_girl.png) no-repeat;left:0;bottom:58px}
.section_13{margin-top:-5px;padding:99px 0}
.section_13 .block{max-width:1196px}
.section_13 .menu{bottom:-66px}
.section_13 .mask{bottom:-36px}
.section_14{padding:258px 0 160px}
.section_14 .left .img{margin-left:67px}
.section_14 .left .text h3{margin-left:38px}
.section_14 .right .item{margin-bottom:116px}
.section_14 .right .item .img{margin-left:-28px}
.section_14 .mask{bottom:-39px}
.section_15{padding:106px 209px 160px}
.section_15 .girl{position:absolute;right:0;content:'';bottom:34px;width:621px;height:1009px;background:url(../img/section_15_1366_img.png) no-repeat}
.section_15 .form .form_group{text-align:center}
.section_15 .mask{bottom:-43px}
.footer{margin-top:-70px}
}
@media only screen and (max-width:1365px){.section_11 .block,.section_12 .slogan{position:relative;z-index:1;text-align:left}
.header{background:url(../img/header_bg.png) 50% 100% no-repeat;padding:50px 5px 128px 44px}
.header .mask{bottom:-48px}
.header .info .text{display:none}
.header .logo{margin-bottom:35px}
.header .logo img{width:90px}
.header .logo .text{margin-left:9px}
.header .logo .text .table{height:80px}
.header .logo .text .table h2{font-size:44px;line-height:42px;margin-bottom:2px}
.header .logo .text .table p{font-size:14px}
.header .title{width:auto}
.header .title p .big{font-size:66px;line-height:0;letter-spacing:.1px}
.header .title .m_left{margin-left:111px;margin-bottom:22px}
.header .title .big_yellow{font-size:87px;line-height:89px;letter-spacing:.3px}
.header .title .big_white{font-size:103px;line-height:94px;letter-spacing:.5px}
.header .title .margin_top_17{font-size:31px;margin-top:-6px;margin-bottom:37px}
.header .title .letter_space_1_6{letter-spacing:1px;font-size:22px}
.header .title .dots{width:178px;height:8px;background:url(../img/dot_1024.png) no-repeat}
.header .title .countdown{margin-top:3px}
.header .title .countdown .count{float:none;margin-left:80px;margin-bottom:1px}
.header .title .countdown .button{margin-left:2px}
.header .girl{width:400px;height:810px;background:url(../img/1024_girl.png) no-repeat;top:37px;left:50%;margin-left:22px}
.section_2{padding:255px 40px 184px}
.section_2 .block .img,.section_2 .block p{padding-left:127px;padding-right:0}
.section_2 h2{font-size:71px;line-height:76px}
.section_2:after,.section_2:before{display:block;bottom:28px}
.section_10 .img,.section_10 .text:after,.section_10 .text:before,.section_11 .img,.section_11 .text:after,.section_11 .text:before,.section_12 .img,.section_12 .text:after,.section_12 .text:before,.section_6 .img_1,.section_6 .img_2,.section_6 .img_3,.section_6 .img_4,.section_9 .img,.section_9 .text:after,.section_9 .text:before{display:none}
.section_2 .block{width:55%}
.section_2 .block ul li{margin:0 0 24px}
.section_2 .block ul li img{width:121px;margin-right:18px;margin-left:-4px}
.section_2 .block ul li .table{height:97px;font-size:22px;line-height:24px}
.section_2 .block .img{margin-top:63px}
.section_2 .girl{width:672px;height:886px;bottom:-1px;left:0;right:auto;margin-right:0;background:url(../img/2_section_1024_girl.png)}
.section_3{padding:93px 42px 155px}
.section_3:after,.section_3:before{height:113px}
.section_3 h2{font-size:72px;line-height:74px}
.section_3 p{margin-bottom:93px}
.section_3 .block{width:62%;margin-bottom:31px}
.section_3 .block ul li{margin-bottom:49px}
.section_3 .block ul li .img{width:92px;margin-right:23px}
.section_3 .block ul li .phone{width:58px}
.section_3 .block ul li .program{width:74px}
.section_3 .block ul li .training{width:92px}
.section_3 .block ul li .table{line-height:33px;font-size:21px;height:100px}
.section_3 .masters{width:550px;height:796px;right:0;bottom:0;background:url(../img/section_3_1024_img.png) no-repeat}
.section_4{padding:110px 30px 168px}
.section_4 h2{font-size:72px;line-height:72px;margin-bottom:84px}
.section_4 h3{font-size:58px;line-height:52px}
.section_4 p{line-height:36px;font-size:22px;padding-right:0}
.section_4 .block{width:49%}
.section_4 .block ul{margin-bottom:53px}
.section_4 .block ul li .text{font-size:22px;line-height:35px}
.section_4 .girl{width:582px;height:1212px;left:0;top:-114px;background:url(../img/section_4_1024_img.png)}
.section_4 .mask{height:167px}
.section_4 .mask:after,.section_4 .mask:before{bottom:6px}
.section_5{margin-top:-6px;padding:65px 30px 228px}
.section_5 h2{font-size:72px;line-height:74px;margin-bottom:0}
.section_5 h3{font-size:30px;line-height:32px;margin-bottom:65px}
.section_5 p{font-size:22px;line-height:33px;padding:0 160px;margin-bottom:30px}
.section_5 .block{margin-bottom:57px;padding:0}
.section_5 .block .item{width:20%;float:left}
.section_5 .block .item .text{padding:0 5px;font-size:21px;line-height:30px}
.section_5 .block .item .center{margin-bottom:21px}
.section_5 .block .item .center .img{height:220px}
.section_5 .block .item .center .img img{width:150px}
.section_5 .block .item .center .img .calendar{width:200px}
.section_5 .list{margin-bottom:64px}
.section_5 .list .item:before{width:45px;height:42px;top:-12px;left:6px;background:url(../img/vector_small.png) no-repeat}
.section_5 .list .item .text{font-size:18px;line-height:29px;padding:0 10px}
.section_5 .list .item .center{margin-bottom:7px}
.section_5 .list .item .center .img .form{width:112px}
.section_5 .list .item .center .img .doctor{width:83px}
.section_5 .list .item .center .img .run{width:126px}
.section_5 .list .item .center .img .results{width:83px}
.section_6{padding:12px 0 254px}
.section_6 h2{padding:0 125px}
.section_7{padding:31px 44px 210px}
.section_7 h2{font-size:72px;line-height:74px;margin-bottom:79px}
.section_7 .block{margin-bottom:56px;width:67%}
.section_7 .block .mb_51{margin-bottom:17px!important}
.section_7 .block .mb_45{margin-bottom:49px!important}
.section_7 .block .mb_40{margin-bottom:18px!important}
.section_7 .block .pt_25{padding-top:28px!important}
.section_7 .block .item{margin-bottom:20px}
.section_7 .block .item .text{font-size:22px;line-height:34px;padding-top:30px}
.section_7 .block .item .text h3{font-size:30px;line-height:34px}
.section_7 .block .item .img{margin-right:18px}
.section_7 .block .item .img img{width:120px}
.section_7 .phone{width:319px;height:639px;background:url(../img/phone_1024.png) no-repeat;right:33px;top:183px}
.section_8{padding:21px 0 150px}
.section_8 h2{font-size:72px;line-height:74px;margin-bottom:84px}
.section_8 .mask{height:168px;bottom:0}
.section_8 .mask:after,.section_8 .mask:before{height:167px}
.section_8 .grid{width:862px;height:680px;bottom:1.6%;left:-30.3%;-ms-transform:rotate(1deg);transform:rotate(1deg)}
.section_8 .grid img{width:608px}
.section_8 .slider_wrap{width:778px;margin-bottom:100px}
.section_8 .slider:after{right:-81px;bottom:-22px;width:60px;height:44px;background:url(../img/slider_2_1024.png) no-repeat}
.section_8 .slider:before{left:-82px;top:-22px;width:60px;height:44px;background:url(../img/slider_1_1024.png) no-repeat}
.section_8 .slider .slick-prev{left:-101px;width:80px;height:79px;top:51.7%}
.section_8 .slider .slick-prev:before{top:13px;left:24px;width:32px;height:52px;background:url(../img/left_1024.png)}
.section_8 .slider .slick-prev:hover:before{background:url(../img/left_1024.png) 0 -52px}
.section_8 .slider .slick-next{right:-101px;width:80px;height:79px;top:51.7%}
.section_8 .slider .slick-next:before{top:14px;right:24px;width:32px;height:52px;background:url(../img/right_1024.png) 0 -52px}
.section_8 .slider .slick-next:hover:before{background:url(../img/right_1024.png)}
.section_8 .slider .slide .img img{width:778px}
.section_10,.section_11,.section_12,.section_9{padding:82px 0 160px;height:720px}
.section_10 h2,.section_11 h2,.section_12 h2,.section_9 h2{color:#ffc833;font-size:69px;line-height:69px;margin-right:0;text-align:left;letter-spacing:1.3px;margin-left:40px}
.section_10 .text,.section_11 .text,.section_12 .text,.section_9 .text{min-height:86px;text-align:left;width:50%;font-size:36px;line-height:43px;margin-top:12px;margin-left:43px}
.section_10 .block,.section_11 .block,.section_12 .block,.section_9 .block{position:relative;z-index:1;min-height:128px;padding:0;text-align:left;width:50%;font-size:22px;margin-left:42px;line-height:32px}
.section_10 .girl,.section_11 .girl,.section_12 .girl,.section_9 .girl{background:url(../img/section_9_1024_girl.png) no-repeat;width:506px;height:817px;bottom:45px}
.section_10 .mask,.section_11 .mask,.section_12 .mask,.section_9 .mask{bottom:-114px}
.section_10{padding:90px 0 160px;height:720px;margin-top:-15px}
.section_10 h2{color:#ff9e10;margin-left:0}
.section_10 .mask{bottom:-119px}
.section_10 .wrap{width:49.2%;float:right}
.section_10 .slogan{margin-bottom:62px;text-align:left}
.section_10 .text{min-height:auto;width:100%;margin-left:0;margin-right:0}
.section_10 .text:before{left:26.4%}
.section_10 .text:after{right:25.9%}
.section_10 .block{min-height:160px;width:100%;margin-left:0;margin-bottom:0;padding:0}
.section_10 .girl{width:489px;height:810px;background:url(../img/section_10_1024_girl.png) no-repeat;left:0;bottom:28px}
.section_11{padding:98px 0 160px;margin-top:0;height:750px}
.section_11 h2{color:#ff8b11;font-size:69px;line-height:69px;margin-right:0;text-align:left;letter-spacing:1.3px;margin-left:40px}
.section_11 .wrap{width:49.2%;float:left}
.section_11 .slogan{text-align:left;margin-left:42px}
.section_11 .text{min-height:auto;text-align:left;width:100%;font-size:36px;line-height:43px;margin-top:12px;margin-left:43px}
.section_11 .block{width:100%;padding-right:50px;font-size:22px;margin-left:42px;line-height:32px}
.section_11 .girl{background:url(../img/section_11_1024_girl.png) no-repeat;width:540px;height:811px;bottom:65px}
.section_11 .mask{bottom:-120px}
.section_12{padding:75px 0 160px;height:725px}
.section_12 h2{color:#ff751a;margin-left:0}
.section_12 .mask{bottom:5px;height:190px}
.section_12 .mask:after,.section_12 .mask:before{height:190px}
.section_12 .wrap{width:49.2%;float:right}
.section_12 .slogan{margin-left:0;margin-bottom:62px}
.section_12 .text{min-height:auto;width:100%;margin-left:0;margin-right:0}
.section_12 .block{min-height:155px;width:100%;margin-left:0;margin-bottom:0;padding:0}
.section_12 .girl{width:823px;height:812px;background:url(../img/section_12_1024_girl.png) no-repeat;left:0;bottom:54px}
.section_13{height:1180px;padding:76px 0}
.section_13 h2{padding:0 50px;margin-bottom:83px;font-size:70px;line-height:75px}
.section_13 .block{max-width:959px}
.section_13 .block .item .img{margin-bottom:24px}
.section_13 .block .item .text{font-size:21px;line-height:36px}
.section_13 .menu{width:939px}
.section_13 .mask{bottom:-57px}
.section_13 .mask:after,.section_13 .mask:before{height:159px}
.section_14{height:1340px;padding:216px 0 160px}
.section_14 h2{font-size:72px;line-height:74px;margin-bottom:61px}
.section_14 .left .text{margin-bottom:45px;font-size:26px;line-height:36px;padding:0 78px}
.section_14 .left .text h3{font-size:38px;line-height:46px;margin-left:0;margin-right:63px;margin-bottom:0}
.section_14 .left .img{margin-left:-87px;width:674px}
.section_14 .right .item{padding-right:50px}
.section_14 .right .item .img{margin-left:-24px}
.section_14 .mask{bottom:-58px}
.section_15{height:948px;padding:86px 41px 160px}
.section_15 h2{font-size:72px;line-height:75px;margin-bottom:46px}
.section_15 .letter_space_1_6{margin-left:-153px}
.section_15 .lineheight_16{margin-left:8px}
.section_15 .countdown{margin-top:30px;padding:19px 20px;margin-right:0;margin-bottom:75px}
.section_15 .form .form_group input{padding:25px 18px 24px}
.section_15 .form .button{margin-top:60px;margin-left:0}
.section_15 .mask{bottom:-57px}
.section_15 .mask:after,.section_15 .mask:before{height:159px}
.section_15 .girl{position:absolute;right:0;content:'';bottom:19px;width:494px;height:779px;background:url(../img/section_15_1024_img.png) no-repeat}
}
@media only screen and (max-width:1025px){.section_2:after,.section_2:before{bottom:0}
}
@media only screen and (max-width:1023px){.header{padding:60px 53px 155px}
.header .logo{margin-bottom:29px}
.header .logo img{width:79px}
.header .logo .text .table{height:70px}
.header .logo .text .table h2{font-size:38px;line-height:39px;margin-bottom:0}
.header .info{padding-right:0}
.header .info .account{margin-top:-10px;margin-bottom:38px}
.header .info .account img,.header .info .instagram img{margin-right:0}
.header .title{width:80%}
.header .title p .big{font-size:58px}
.header .title .big_yellow{font-size:76px;line-height:78px;letter-spacing:.3px}
.header .title .dots{width:156px;height:7px;background:url(../img/dot_768.png) no-repeat;margin-left:3px}
.header .title .big_white{font-size:88px;line-height:80px;letter-spacing:1.3px}
.header .title .margin_top_17{font-size:27px;margin-bottom:44px}
.header .title .letter_space_1_6{letter-spacing:.1px;font-size:20px;line-height:22px}
.header .title .lineheight_16{margin-bottom:22px}
.header .title .m_left{margin-left:102px;margin-top:0;margin-bottom:16px}
.header .title .countdown .count{margin-left:73px;padding:15px 10px;border:3px solid #fff;border-radius:5px;width:257px;color:#3c3c3c;text-align:center}
.header .title .countdown .button{letter-spacing:3px;margin-left:3px;padding:0 16px;display:inline-block;vertical-align:top;border-radius:5px;font-size:36px;line-height:68px;height:64px;width:395px;color:#fff}
.header .title .countdown .button img{width:48px}
.header .girl{width:346px;height:755px;background:url(../img/768_girl.png) no-repeat;top:43px;left:50%;margin-left:37px}
.section_2{padding:255px 40px 138px}
.section_2:after,.section_2:before{bottom:0}
.section_2 p{margin-bottom:66px}
.section_2 .block{width:51%}
.section_2 .block p{font-size:48px;line-height:52px;padding-left:0;padding-right:16px}
.section_2 .block .img{padding-left:0;padding-right:17px;margin-top:22px;margin-bottom:40px}
.section_2 .block ul li{margin:0}
.section_2 .block ul li .table{height:91px;font-size:22px;line-height:29px}
.section_2 .block ul li img{width:84px;margin-right:14px;margin-left:-4px;margin-top:-2px}
.section_2 .girl{width:459px;height:605px;bottom:0;margin-right:-76px;background:url(../img/section_2_768_girl.png)}
.section_3{padding:93px 42px 160px}
.section_3:after,.section_3:before{bottom:-14px}
.section_3:before{-ms-transform:translateX(-50%) rotate(9.45deg);transform:translateX(-50%) rotate(9.45deg)}
.section_3 h2{margin-bottom:10px}
.section_3 p{padding:0 135px;line-height:34px}
.section_3 .block{width:100%}
.section_3 .block ul li .img{text-align:center;width:120px;margin-right:6px}
.section_3 .masters{display:none}
.section_4{padding:90px 58px 109px}
.section_4 h2{font-size:68px;line-height:70px;margin-bottom:85px;letter-spacing:1.5px;padding-left:25px}
.section_4 h3{font-size:47px;line-height:49px;margin-left:-2px;margin-bottom:8px}
.section_4 p{margin-left:-6px;letter-spacing:.5px;padding-right:46px}
.section_4 .block{width:60%}
.section_4 .block ul{margin-bottom:27px}
.section_4 .block ul li .text{padding-top:3px}
.section_4 .block ul li img{width:42px;margin-right:19px}
.section_4 .girl{width:425px;height:1078px;left:0;top:-85px;background:url(../img/section_4_768_img.png)}
.section_4 .mask{height:167px}
.section_4 .mask:after,.section_4 .mask:before{bottom:-67px}
.section_5{padding:88px 30px 242px}
.section_5 p{padding:0 44px}
.section_5 .block{margin-bottom:47px}
.section_5 .block .item{text-align:center;width:33%;float:none;display:inline-block;vertical-align:top;margin:0 -4px 10px 0}
.section_10 .img,.section_12 .img,.section_6 .scroll-pane .jspContainer .jspHorizontalBar .jspCap,.section_7 .phone,.section_8 .grid{display:none}
.section_5 .block .item .text{padding:0 28px;font-size:19px;line-height:30px}
.section_5 .block .item .center{margin-bottom:15px}
.section_5 .block .item .center .img{height:190px}
.section_5 .list{margin-bottom:18px}
.section_5 .list .item{width:50%;margin-bottom:64px}
.section_6{padding:0 54px 254px}
.section_6 h2{font-size:56px;line-height:56px;padding:0}
.section_6 .table{margin-bottom:52px}
.section_6 .scroll-pane{overflow:hidden;width:100%}
.section_6 .scroll-pane .jspContainer{overflow:hidden;position:relative}
.section_6 .scroll-pane .jspContainer .jspPane{position:absolute}
.section_6 .scroll-pane .jspContainer .jspHorizontalBar{position:absolute;bottom:0;left:0;height:10px;background:#000}
.section_6 .scroll-pane .jspContainer .jspHorizontalBar .jspTrack{background:#000;position:relative;width:660px!important;height:100%;float:left}
.section_6 .scroll-pane .jspContainer .jspHorizontalBar .jspTrack .jspDrag{background:linear-gradient(to right,#ff0344 0,#ff0344 38%,#ff1041 40%,#ff2b37 43%,#ffa40f 54%,#feb707 56%,#fc0 59%,#fc0 100%)!important;float:left;height:100%;position:relative;top:0;left:0;cursor:pointer}
.section_7{padding:0 72px 232px}
.section_7 h2{margin-bottom:84px;line-height:70px}
.section_7 .block{width:100%;margin-bottom:76px}
.section_7 .block .mb_51{margin-bottom:12px!important}
.section_7 .block .mb_45{margin-bottom:43px!important}
.section_7 .block .mb_40{margin-bottom:14px!important}
.section_10 .slogan,.section_12 .slogan{margin-bottom:62px;text-align:left}
.section_7 .block .pt_25{padding-top:16px!important}
.section_7 .block .item .text{padding-top:15px;font-size:20px;line-height:31px}
.section_7 .block .item .img{margin-right:16px}
.section_7 .block .item .img img{width:86px}
.section_8{padding:0 0 150px}
.section_8 h2{font-size:71px;line-height:74px;padding:0 30px}
.section_8 .slider_wrap,.section_8 .slider_wrap .slider .slide .img img{width:618px}
.section_8 .mask{height:169px;bottom:-90px}
.section_8 .slider .slick-prev{left:220px;top:120.1%}
.section_8 .slider .slick-next{right:218px;top:120%}
.section_8 .slider:before{width:40px;height:29px;background:url(../img/slider_1_768.png) no-repeat;left:-60px;top:-15px}
.section_8 .slider:after{width:40px;height:29px;background:url(../img/slider_2_768.png) no-repeat;right:-62px;bottom:-16px}
.section_10,.section_11,.section_12,.section_9{padding:85px 0 160px;height:620px;margin-top:0}
.section_10 .girl,.section_11 .girl,.section_12 .girl,.section_9 .girl{background:url(../img/section_9_768_girl.png) no-repeat;width:343px;height:674px;bottom:24px}
.section_10 h2,.section_11 h2,.section_12 h2,.section_9 h2{margin-left:72px}
.section_10 .text,.section_11 .text,.section_12 .text,.section_9 .text{margin-left:75px}
.section_10 .block,.section_11 .block,.section_12 .block,.section_9 .block{font-size:20px;margin-left:73px;line-height:30px}
.section_10 .mask,.section_11 .mask,.section_12 .mask,.section_9 .mask{bottom:-62px}
.section_10{padding:80px 0 50px;margin-top:0;height:620px}
.section_10 h2{margin-left:0}
.section_10 .mask{bottom:-73px}
.section_10 .wrap{width:59.4%}
.section_10 .text{width:100%;margin-left:0;margin-right:0}
.section_10 .text:before{left:26.4%}
.section_10 .text:after{right:25.9%}
.section_10 .block{width:100%;margin-left:0;padding:0}
.section_10 .girl{width:287px;height:666px;background:url(../img/section_10_768_girl.png) no-repeat;left:0;bottom:36px}
.section_11{padding:80px 0 160px;margin-top:0}
.section_11 .girl{background:url(../img/section_11_768_girl.png) no-repeat;width:365px;height:679px;bottom:23px}
.section_11 h2{margin-left:72px}
.section_11 .text{margin-left:75px}
.section_11 .block{font-size:20px;margin-left:73px;line-height:30px}
.section_11 .slogan{margin-left:73px}
.section_11 .mask{bottom:-48px}
.section_12{padding:77px 0 50px;margin-top:0;height:620px}
.section_12 h2{color:#ff751a;margin-left:0}
.section_12 .mask{bottom:-72px}
.section_12 .wrap{position:relative;z-index:1;width:59.3%}
.section_12 .text{padding-right:35px;width:100%;margin-left:0;margin-top:11px;margin-right:0}
.section_12 .block{width:100%;margin-left:0;padding:0}
.section_12 .girl{width:498px;height:682px;background:url(../img/section_12_768_girl.png) no-repeat;left:0;bottom:24px}
.section_13{height:1039px;padding:70px 0}
.section_13 h2{font-size:68px;line-height:74px;padding:0}
.section_13 .block{max-width:723px}
.section_13 .block .item .text{font-size:20px;line-height:32px}
.section_13 .menu{bottom:-72px;width:663px}
.section_13 .mask{bottom:-76px}
.section_14{padding:162px 0 160px;height:1170px}
.section_14 .left{width:55%}
.section_14 .left .img{margin-left:11px;width:402px;height:461px;background:url(../img/trener_768.png) 50% 50% no-repeat}
.section_14 .left .text{margin-bottom:40px;padding:0 20px}
.section_14 .left .text h3{margin-right:0;font-size:31px;line-height:33px;margin-bottom:3px}
.section_14 .right{width:45%}
.section_14 .right .mb_69{margin-bottom:21px!important}
.section_14 .right .item{margin-bottom:70px}
.section_14 .right .item .img{margin-left:-28px}
.section_14 .mask{bottom:-77px}
.section_15{height:1115px;padding:70px 41px 160px}
.section_15 h2{margin-left:11px;margin-bottom:78px}
.section_15 p .big{font-size:58px}
.section_15 .dots{width:156px;height:7px;background:url(../img/dot_768.png) no-repeat;margin-left:3px}
.section_15 .letter_space_1_6{font-size:20px;line-height:23px;margin-left:13px;letter-spacing:0;text-align:left}
.section_15 .lineheight_16{margin-left:-261px;letter-spacing:0;font-size:20px;text-align:left;margin-bottom:10px}
.section_15 .countdown{margin-bottom:55px;margin-top:5px;text-align:left}
.section_15 .countdown p{font-size:16px;line-height:23px}
.section_15 .countdown .count{padding:9px 10px 10px;margin-right:3px;margin-left:64px;width:257px}
.section_15 .countdown .count div{font-size:40px;line-height:40px}
.section_15 .form .form_group{padding-left:13px;margin-bottom:19px;text-align:left;width:100%;float:none;display:inline-block}
.section_15 .form .form_group input{width:400px}
.section_15 .form .button{letter-spacing:2.3px;margin-left:16px;width:394px;padding:0 14px;text-align:left;font-size:38px;line-height:71px;height:66px}
.section_15 .form .button img{width:47px}
.section_15 .form .wrap{text-align:left}
.section_15 .girl{position:absolute;right:0;content:'';bottom:16px;width:633px;height:843px;background:url(../img/section_15_768_img.png) no-repeat}
.section_15 .mask{bottom:-79px}
.popup_thx{padding:230px 0;width:620px;height:600px}
.popup_form{width:620px;padding:120px 80px}
}
@media only screen and (min-width:960px) and (max-width:1023px){.section_4 h3{padding-right:74px}
}
@media only screen and (min-width:939px) and (max-width:1023px){.section_8 .mask{bottom:-83px}
.section_9 .girl{bottom:31px}
.section_9 .mask{bottom:-55px}
.section_10 .girl{bottom:43px}
.section_10 .mask{bottom:-65px}
.section_11 .girl{bottom:32px}
.section_11 .mask{bottom:-60px}
.section_12 .girl{bottom:32px}
.section_12 .mask{bottom:-57px}
}
@media only screen and (min-width:770px) and (max-width:1023px){.section_15 .mask{bottom:-55px}
}
@media only screen and (max-width:767px){.header,.header .pic,.header .title{text-align:center}
.header .title .countdown .button,.section_3 .button,.section_7 .button{border-radius:5px;vertical-align:top}
.header{height:960px;padding:13px 9px 81px}
.header .girl{display:none}
.header .mask{bottom:-97px}
.header .logo{position:relative;z-index:1;margin-bottom:58px}
.header .logo img{width:54px}
.header .logo .text{margin-left:0}
.header .logo .text .table{height:46px;padding-top:3px}
.header .logo .text .table h2{font-size:28px;line-height:26px}
.header .logo .text .table p{font-size:10px;line-height:12px}
.header .info{margin-top:10px;padding-right:0}
.header .info img{margin-right:0;width:23px}
.header .info .account{margin-bottom:20px}
.header .pic{display:block;vertical-align:top;position:relative;top:-73px;margin:0 -10px;clear:left}
.header .title{width:100%;margin-top:-56px}
.header .title p .big{font-size:44px}
.header .title .big_yellow{font-size:55px;line-height:55px}
.header .title .big_white{font-size:64px;line-height:64px}
.header .title .margin_top_17{font-size:20px;line-height:8px;margin-top:0;margin-bottom:43px}
.header .title .wrap{display:inline-block;text-align:left;vertical-align:top}
.section_2 .block,.section_4 h3,.section_4 p,.section_8 .slider .slide .img{text-align:center}
.header .title .letter_space_1_6{letter-spacing:1px;font-size:14px;line-height:14px;margin-bottom:-2px}
.header .title .lineheight_16{margin-bottom:25px;line-height:16px!important;letter-spacing:1px}
.header .title .dots{width:106px;height:5px;background:url(../img/dot_320.png) no-repeat;margin-left:0}
.header .title .m_left{font-size:12px;line-height:14px;margin-left:0;margin-bottom:14px;float:none}
.header .title .countdown .count{width:180px;padding:7px 10px;margin-left:0;display:inline-block}
.header .title .countdown .count div{font-size:28px}
.header .title .countdown .button{letter-spacing:1.6px;margin-left:2px;padding:0 10px 0 18px;display:inline-block;font-size:27px;line-height:51px;height:48px;margin-top:14px;width:300px}
.header .title .countdown .button img{width:37px;margin-left:7px;padding-top:8px}
.section_2{padding:219px 10px 75px}
.section_2:after,.section_2:before{display:none}
.section_2 h2{font-size:36px;line-height:38px}
.section_2 p{font-size:20px;line-height:22px;margin-top:4px;margin-bottom:35px}
.section_2 .block{width:100%}
.section_2 .block ul{display:inline-block}
.section_2 .block ul li{margin:0 0 2px}
.section_2 .block ul li img{width:61px;margin-right:18px;margin-left:0}
.section_2 .block ul li .table{height:71px;font-size:16px;line-height:23px}
.section_2 .block p{font-size:30px;line-height:32px;padding-right:0;padding-left:0;margin-top:0}
.section_2 .block .img{margin-top:5px;padding-left:0;padding-right:0;margin-bottom:9px}
.section_2 .block .img img{width:40px}
.section_2 .girl{display:none}
.section_3{padding:56px 10px 80px}
.section_3:after,.section_3:before{bottom:-35px}
.section_3 h2{font-size:36px;line-height:38px;margin-bottom:13px}
.section_3 p{padding:0;font-size:20px;line-height:24px;margin-bottom:34px}
.section_3 .block{margin-bottom:18px}
.section_3 .block ul li{margin-bottom:0}
.section_3 .block ul li .table{line-height:24px;font-size:16px;height:142px}
.section_3 .block ul li .phone{width:47px}
.section_3 .block ul li .training{margin-top:28px}
.section_3 .block ul li .img{margin-right:18px;width:61px}
.section_3 .button{margin-bottom:51px;padding:0 14px;display:inline-block;font-size:28px;line-height:53px;height:50px;width:300px}
.section_3 .button img{width:35px}
.section_4{padding:75px 10px 73px}
.section_4 h2{font-size:32px;line-height:32px;margin-bottom:35px;letter-spacing:1.5px;padding-left:0}
.section_4 h3{font-size:29px;line-height:31px;margin-left:-2px;margin-bottom:6px}
.section_4 p{padding-right:0;line-height:27px;font-size:17px}
.section_4 .block{width:100%}
.section_4 .block ul,.section_4 .block ul li{margin-bottom:16px}
.section_4 .block ul li .text{font-size:16px;line-height:22px}
.section_4 .block ul li img{margin-right:9px;width:29px}
.section_4 .girl{display:none}
.section_4 .mask{height:167px}
.section_4 .mask:after,.section_4 .mask:before{bottom:-97px}
.section_5{padding:62px 10px 231px}
.section_5 h2{font-size:36px;line-height:38px}
.section_5 h3{font-size:23px;line-height:29px;margin-bottom:44px}
.section_5 p{padding:0 8px;font-size:19px;line-height:27px}
.section_5 .block .item .text,.section_5 .list .item .text{font-size:14px;line-height:23px}
.section_5 .block{margin-bottom:55px}
.section_5 .block .item{width:50%}
.section_5 .block .item .text{padding:0 5px}
.section_5 .block .item .center .img{height:165px}
.section_5 .list{margin-bottom:27px;padding:0}
.section_5 .list .item{margin-bottom:16px}
.section_5 .list .item .center{margin-bottom:0}
.section_5 .button{font-size:26px;line-height:55px;height:50px;width:300px}
.section_5 .button img{padding-top:10px;width:33px}
.section_6{padding:0 10px 204px;margin-top:-76px}
.section_6 h2{padding:0 20px;font-size:36px;line-height:38px}
.section_6 p{font-size:18px;line-height:29px;margin-bottom:52px}
.section_6 .mask{bottom:-11px}
.section_6 .table{margin-bottom:40px}
.section_6 .table table thead tr td{font-size:16px;line-height:20px;height:89px}
.section_6 .table table tbody tr:last-child td{height:80px!important}
.section_6 .table table tbody tr td{border-bottom:6px solid #fff!important;height:80px}
.section_6 .table table tbody tr td:first-child{font-size:14px!important;line-height:19px!important;padding:10px 14px!important}
.section_7{padding:39px 10px 157px;margin-top:-85px;z-index:20}
.section_7:after,.section_7:before{bottom:-59px}
.section_7 h2{font-size:37px;line-height:39px;margin-bottom:30px}
.section_7 .block{margin-bottom:40px}
.section_7 .block .mb_45{margin-bottom:10px!important}
.section_7 .block .item{margin-bottom:16px}
.section_7 .block .item .text{font-size:16px;line-height:24px;padding-top:14px}
.section_7 .block .item .text h3{font-size:18px;line-height:23px}
.section_7 .block .item .img{margin-right:20px}
.section_7 .block .item .img img{width:60px}
.section_7 .button{width:300px;letter-spacing:1.7px;margin-left:0;padding:0 20px;display:inline-block;font-family:Conv_bebasneuebold;font-size:24px;line-height:52px;height:48px}
.section_8,.section_8 h2{font-size:36px;line-height:38px}
.section_7 .button img{width:35px;margin-left:17px}
.section_8{padding:0 10px 200px}
.section_8 h2{padding:0 20px;margin-bottom:52px}
.section_8 .slider_wrap{width:100%;margin-bottom:0}
.section_8 .slider:after,.section_8 .slider:before{display:none}
.section_8 .slider .slide .img img{display:inline-block}
.section_10 .img,.section_12 .img,.section_13 .menu{display:none}
.section_8 .slider .slick-next{top:135.5%;right:19%}
.section_8 .slider .slick-prev{top:135.5%;left:19%}
.section_10,.section_11,.section_12,.section_9{padding:0 0 20px;height:380px}
.section_10 .girl,.section_11 .girl,.section_12 .girl,.section_9 .girl{background:url(../img/section_9_320_girl.png) no-repeat;width:97px;height:396px;bottom:63px}
.section_10 h2,.section_11 h2,.section_12 h2,.section_9 h2{text-align:left;margin-left:9px;font-size:34px;line-height:40px;margin-bottom:11px}
.section_10 .text,.section_11 .text,.section_12 .text,.section_9 .text{min-height:auto;font-size:24px;line-height:29px;margin-top:-6px;text-align:left;margin-left:9px;width:73%;margin-bottom:17px}
.section_10 .block,.section_11 .block,.section_12 .block,.section_9 .block{font-size:14px;line-height:21px;text-align:left;width:65%;margin-left:9px}
.section_10 .mask,.section_11 .mask,.section_12 .mask,.section_9 .mask{position:absolute;bottom:-81px}
.section_10 .mask:after,.section_10 .mask:before,.section_11 .mask:after,.section_11 .mask:before,.section_12 .mask:after,.section_12 .mask:before,.section_9 .mask:after,.section_9 .mask:before{bottom:-1px}
.section_10{padding:17px 0 0;margin-top:0;height:440px}
.section_10 h2{margin-left:0;margin-bottom:13px;text-align:center}
.section_10 .mask{bottom:-81px}
.section_10 .wrap{position:relative;z-index:1;padding:0 10px 0 0;width:80%}
.section_10 .wrap_t{padding-left:42%}
.section_10 .slogan{font-size:23px;line-height:27px;margin-bottom:29px;padding-left:0}
.section_10 .text{margin-left:0;margin-right:0;text-align:left;margin-bottom:2px;padding-left:0;width:100%}
.section_11 .text,.section_11 h2{margin-bottom:0;text-align:left;margin-left:0}
.section_10 .block{width:89%;margin-left:0;float:right}
.section_13 .block .item,.section_14 .left,.section_14 .right{float:none;display:inline-block}
.section_10 .girl{width:165px;height:489px;background:url(../img/section_10_320_girl.png) no-repeat;left:0;bottom:30px}
.section_11{height:420px;padding:16px 0 20px}
.section_11 .girl{background:url(../img/section_11_320_girl.png) no-repeat;width:113px;height:438px;bottom:59px}
.section_11 .wrap{padding:0 10px;width:100%;position:relative;z-index:1}
.section_11 h2{font-size:34px;line-height:60px}
.section_11 .text{font-size:24px;line-height:29px;margin-top:-6px;width:100%}
.section_11 .slogan{text-align:left;margin-left:0;font-size:23px;line-height:31px;margin-bottom:14px}
.footer,.section_12 .slogan,.section_12 .text,.section_12 h2,.section_13 .block,.section_15 .form,.section_15 .form .form_group,.section_15 .form .form_group input,.section_15 .form .wrap,.section_15 .letter_space_1_6{text-align:center}
.section_11 .block{padding:0;margin:0;font-size:14px;line-height:24px}
.section_11 .mask{bottom:-82px}
.section_12{padding:3px 0 20px;height:270px}
.section_12 h2{color:#ff751a;margin-right:0;margin-left:0}
.section_12 .mask{bottom:-83px}
.section_12 .wrap{padding:0 10px 0 20px;width:66%}
.section_12 .slogan{margin-bottom:29px;font-size:24px;line-height:26px}
.section_12 .text{width:100%;padding-right:0;margin-right:0;margin-bottom:2px;margin-left:0}
.section_12 .block{width:100%;margin-left:0;padding:0}
.section_12 .girl{width:247px;height:297px;background:url(../img/section_12_320_girl.png) no-repeat;left:0;bottom:52px}
.section_13{height:860px;padding:20px 10px}
.section_13 h2{padding:0;font-size:34px;line-height:38px;margin-bottom:53px}
.section_13 .mask{bottom:0;height:77px}
.section_13 .mask:after,.section_13 .mask:before{height:74px}
.section_13 .block .item{margin-bottom:54px;width:100%}
.section_13 .block .item .img{margin-bottom:14px}
.section_13 .block .item .text{font-size:15px;line-height:23px}
.section_14{height:1488px;padding:27px 10px 160px}
.section_14 h2{font-size:36px;line-height:38px;margin-bottom:47px}
.section_14 .left{width:100%;vertical-align:top;margin-bottom:61px}
.section_14 .left .text{font-size:19px;line-height:26px;padding:0;margin-bottom:34px}
.section_14 .left .text h3{font-size:24px;line-height:26px}
.section_14 .left .img{display:inline-block;margin-left:0;width:300px;height:366px;background:url(../img/trener_320.png) 50% 50% no-repeat}
.section_14 .right{width:100%;vertical-align:top}
.section_14 .right .mb_69{margin-bottom:32px!important}
.section_14 .right .item{margin-bottom:32px;padding-right:0}
.section_14 .right .item .text h4{margin-bottom:0}
.section_14 .right .item .img{margin-left:0}
.section_14 .mask{bottom:-85px}
.section_15{height:800px;padding:28px 10px 160px}
.section_15 h2{margin-left:0;font-size:35px;line-height:38px;margin-bottom:51px}
.section_15 .letter_space_1_6,.section_15 .lineheight_16{margin-bottom:0;font-size:15px;letter-spacing:.5px;margin-left:0}
.section_15 .letter_space_1_6{margin-right:62px;line-height:12px}
.section_15 .lineheight_16{margin-top:0;line-height:17px}
.section_15 .countdown{padding:10px 20px;text-align:center;margin-bottom:45px}
.section_15 .countdown p{font-size:13px;line-height:16px}
.section_15 .countdown .count{padding:4px 10px;margin-right:0;margin-left:0;width:180px}
.section_15 .countdown .count div{font-size:30px;line-height:28px}
.section_15 .form .button{margin-left:0;margin-top:43px;width:300px;font-size:26px;line-height:55px;height:51px}
.section_15 .form .button img{width:36px}
.section_15 .form .form_group{padding-left:0}
.section_15 .form .form_group input{width:300px;padding:13px 0;font-size:16px;line-height:22px}
.section_15 p .big{font-size:44px}
.section_15 .girl{display:none}
.section_15 .dots{width:106px;height:5px;background:url(../img/dot_320.png) no-repeat;margin-left:0}
.footer .left,.footer .right{width:100%;float:none;display:inline-block}
.section_15 .mask{bottom:-84px}
.footer{height:130px;background:#000!important;padding:0}
.popup_thx{padding:135px 0;width:300px;height:480px}
.popup_thx h2{font-size:80px;line-height:110px}
.popup_form{padding:60px 10px;width:280px;height:500px}
.popup_form .button{margin-top:30px}
}
@media only screen and (max-width:500px){.header .mask{bottom:-120px}
}
@media only screen and (min-width:501px) and (max-width:767px){.section_14{height:1220px}
}
@media only screen and (min-width:467px) and (max-width:500px){.section_14{height:1260px}
}
@media only screen and (min-width:415px) and (max-width:466px){.section_14{height:1334px}
}
@media only screen and (min-width:352px) and (max-width:414px){.section_14{height:1409px}
}
@media only screen and (min-width:430px) and (max-width:767px){.section_15 .mask{bottom:-66px}
}
@media only screen and (min-width:380px) and (max-width:767px){.section_8 .slider .slick-next,.section_8 .slider .slick-prev{top:121.5%}
}
@media only screen and (min-width:1200px) and (max-width:1365px){.section_4 h3{padding-right:50px}
.section_4 .block ul li{padding-right:130px}
}

p.help-block.help-block-error {
    font-size: 14px;
    color: #ff0000;
}

.has-error input {
    border-color: #ff0000;
}

.section_15 .form .form_group.has-error input {
    border-color: #ff0000;
}