html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
	width: 98%!important;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

/* backend courses */
#workouts-container {
	width: 47%;
	float: left;
	border: 1px solid #e5e5e5;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 7px;
}
.btn-group {
	margin: 5px 0;
}
#workouts > .workout {
	background: #fafafa;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 7px;
	border: 1px solid #ccc;
	min-width: 375px;
}
#workouts > .workout > .exercises {
	padding: 7px;
	min-height: 30px;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin-top: 5px;
}
#workouts > .workout > .exercises > * {
	min-width: 342px;
}
#workouts > .workout > .btn-group > .set-add {
	float: none;
}
#workouts > .workout > .btn-group, #workouts > .workout > .exercises, #workouts > .workout > .exercises > .set > .set-data {
	display: none;
}
#workouts > .workout > .exercises > .set > .set-data {
	margin-top: 5px;
}
#workouts > .workout > input[type="text"] {
	width: 220px;
	padding: 3px 5px;
	border-radius: 3px;
	border: 1px solid #aaa;
}
#workouts > .workout > .exercises .ex-close,
#workouts > .workout > .close {
	color: #f00;
	opacity: 0.7;
	cursor: pointer;
}
#workouts > .workout > .exercises .ex-close:hover,
#workouts > .workout > .close:hover {
	opacity: 1;
}
#workouts > .workout > .exercises > .exercise {
	padding: 5px;
	border: 1px solid #e5e5e5;
	margin-bottom: 5px;
	border-radius: 3px;
	background: #fff;
	width: 100%;
}
#workouts .exercises .exercise.opened {
	height: auto !important;
}
/*#workouts > .workout > .exercises > .exercise > div:last-child,  #workouts > .workout > .exercises > .set > .set-exercises > .exercise > div:last-child {
	float: right;
	background: #f00;
	border-radius: 50%;
	cursor: pointer;
	width: 18px;
	height: 18px;
	margin-left: 7px;
	color: #fff;
	text-align: center;
	line-height: 18px;
} */
#workouts > .workout > .exercises > .set {
	padding: 5px;
	border: 1px solid #e5e5e5;
	margin-bottom: 5px;
	border-radius: 3px;
	background: #e0efff;
	width: 100%;
}
#workouts > .workout > .exercises > .set > input[type="text"] {
	width: 68%;
	padding: 3px 5px;
	margin: 5px 0 5px 21px;
	border-radius: 3px;
	border: 1px solid #aaa;
}
#workouts > .workout > .exercises > .set > input[type="text"]:first-child {
	margin: 0;
}
#workouts > .workout > .exercises .ex-close, #workouts > .workout .workout-fields > .workout-field > .ex-close, #anket > .anket-field > .ex-close, #workouts > .workout > .exercises .ex-open, #workouts > .workout > .ex-open, #workouts > .workout .workout-expand,  #workouts > .workout .ex-clone {
	float: right;
	cursor: pointer;
	margin-left: 10px;
}
#workouts > .workout .ex-open, #workouts > .workout .workout-expand, #workouts > .workout .ex-clone, #workouts > .workout > .exercises > .set > .ex-close {
	margin: 0 2px 0 0;
}
#workouts > .workout > .ex-open, #workouts > .workout > .workout-expand, #workouts > .workout > .close {
	/*font-size: 21px;*/
	font-size: small;
}
#workouts > .workout > .exercises .ex-open, #workouts > .workout > .ex-open, #workouts > .workout > .workout-expand, #workouts > .workout .ex-clone {
	color: #000;
	opacity: 0.7;
}
#workouts > .workout .set > .ex-clone {
	margin-top: -13px;
}
#workouts > .workout > .exercises .ex-open:hover, #workouts > .workout > .ex-open:hover, #workouts > .workout > .workout-expand:hover, #workouts > .workout .ex-clone:hover {
	opacity: 0.7;
}
#workouts > .workout > .exercises > .set .set-exercises {
	padding: 7px;
	min-height: 30px;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin-top: 5px;
}
#workouts > .workout > .exercises > .set .set-exercises > .exercise {
	padding: 5px;
	border: 1px solid #e5e5e5;
	margin-bottom: 5px;
	border-radius: 3px;
	background: #fff;
	width: 100%;
}
#workouts > .workout .exercises .routines {
	display: none;
}
#workouts > .workout .exercises .routines .routine {
	border: 1px solid #f9f9f9;
	border-radius: 5px;
	padding: 5px;
	margin-top: 3px;
}
#workouts > .workout .exercises .routines .routine .routine-set {
	margin-top: 3px;
}
.exercise {
	width: 100% !important;
}
#ex-sticky {
	width: 47%;
	padding: 7px;
	border: 1px solid #e5e5e5;
	background: #fff;
	border-radius: 5px;
	float: right;
	max-height: 90%;
}
#ex-sticky > input[type=text] {
	display: block;
	width: 375px;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-bottom: 3px;
}
/*#exercises {

}*/
#exercises > .exercise, .exercise.ui-draggable-dragging {
	padding: 5px;
	border: 1px solid #e5e5e5;
	margin-bottom: 5px;
	border-radius: 3px;
	background: #fff;
	cursor: move;
}
#exercises > .exercise > .ex-close, #exercises > .exercise > .ex-open, #exercises > .exercise > .ex-clone, .set-exercises > .exercise > .ex-clone {
	display: none;
}
#exfield_template, #workout_template, #set_template, #routine_template, #routine_set_template, #workout_field_template, #anket_field_template {
	display: none;
}
.ui-draggable-dragging, .ui-sortable-helper  {
	width: 300px !important;
}
.ex-fields {padding:0;margin-bottom:10px}
.ex-fields .close {position:absolute;width:20px;right:0;height:20px;z-index:1;margin-right: -25px}
#workouts > .workout > .workout-fields-container {
	display:none;
	background: #fdfdfd;
	border-radius: 5px;
	margin-top: 10px;
	padding: 7px;
	border: 1px solid #ccc;
}
#workouts > .workout > .workout-fields-container > .workout-fields {
	padding: 7px;
	min-height: 30px;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin-top: 5px;
}
.workout-fields > .workout-field {
	margin-top: 5px;
}
#anket > .anket-field {
	margin-top: 5px;
	max-width: 450px;
	padding: 5px;
	border: 1px solid #e5e5e5;
	background: #fff;
	border-radius: 5px;
}
/* end backend courses */

/* backend breadcrumbs */
.breadcrumb > li + li:before {
    content: "\203A\232A";
}
/* end backend breadcrumbs */
