*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*{
    max-height: 1000000px;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 0!important;
}
body{
    text-transform: uppercase;
    display: block;
    text-align: center;
    background: #fff;
    font-family: @medium;
    font-size: 24px;
    line-height: 26px;
    color:#fff;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust: none;
}
img{
    border-style:none;
    vertical-align:top;
    max-width: 100%;

}
a{
    color:#fff;
    text-decoration: none;
}
a:hover{text-decoration:none;}
a:active {background-color: transparent;}
input, textarea, select{
    vertical-align:middle;
    color: #808080;
    border: 1px solid #fff;
    border-radius: 5px;
}
main, header, footer, article, section, hgroup, nav, figure, aside { display: block; }
figure {
    margin:0;
    padding:0;
}
form, fieldset{
    margin:0;
    padding:0;
    border-style:none;
}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea{-webkit-appearance:none;}
textarea,
input[type=submit],
input[type=text]{-webkit-border-radius:0;}
input[type=image],
button{
    padding:0;
    border:none;
}
input[type="submit"]::-moz-focus-inner{border:0}
input[type="submit"],
button{
    cursor:pointer;
}
@font-face {
    font-family: 'Conv_PFDinTextCompPro-MedItal';
    src: url('../fonts/PFDinTextCompPro-MedItal.eot');
    src: local('☺'), url('../fonts/PFDinTextCompPro-MedItal.woff') format('woff'), url('../fonts/PFDinTextCompPro-MedItal.ttf') format('truetype'), url('../fonts/PFDinTextCompPro-MedItal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_PFDinTextCompPro-Italic';
    src: url('../fonts/PFDinTextCompPro-Italic.eot');
    src: local('☺'), url('../fonts/PFDinTextCompPro-Italic.woff') format('woff'), url('../fonts/PFDinTextCompPro-Italic.ttf') format('truetype'), url('../fonts/PFDinTextCompPro-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clearfix {
    &:after {
    content: '';
    width: 100%;
    display: block;
    clear: both;
    }
}
.container{
    max-width: 960px;
    display: inline-block;
    width: 100%;
}
@medium: 'Conv_PFDinTextCompPro-MedItal';
@italic: 'Conv_PFDinTextCompPro-Italic';

.main{
    padding: 200px 0 40px;
    background: url('../img/bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.title{
    margin-bottom: 103px;
    h2{
        font-weight: 300;
        position: relative;
        font-size: 100px;
        font-family: @italic;
        display: inline-block;
        vertical-align: top;
        letter-spacing: 10px;
        line-height: 100px;
        margin-left: 11px;
        img{
            position: absolute;
            right: -44%;
            top: 16px;
        }
    }
    p{
        font-size: 48px;
        line-height: 50px;
    }
}
.list{
    margin-bottom: 87px;
    width: 100%;
    li{
        font-family: @italic;
        letter-spacing: 1px;
        float: left;
        width: 25%;
        .img{
            height: 48px;
            margin-bottom: 10px;
        }
    }
}
.form{
    padding: 35px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    .title{
        margin-bottom: 26px;
        letter-spacing: 2.3px;
        line-height: 28px;
        span{
            color: #ff7f00;
        }
    }
    .form_group{
        margin-bottom: 45px;
        border: none;
        width: 225px;
        margin-right: 20px;
        float: left;
        &:last-child{
            margin-right: 0;
        }
        input{
            font-size: 24px;
            width: 100%;
            color: #fff;
            border: 2px solid #fff;
            border-radius: 30px;
            padding: 12px 12px 12px 36px;
            letter-spacing: 2px;
            line-height: 30px;
            background: transparent;
            font-family: @italic;
        }
        button{
            font-family: @italic;
            font-size: 30px;
            width: 100%;
            padding: 14px 12px;
            border-radius: 30px;
            line-height: 30px;
            color: #000;
            background: #ffb406;
            background: -moz-linear-gradient(left, #ffb406 0%, #feb10b 3%, #ffaf08 4%, #feab0d 7%, #ffa90a 8%, #ffa90e 9%, #ffa50c 11%, #fea211 14%, #fda20d 14%, #ff9614 21%, #fd9711 21%, #ff9016 25%, #fd9212 25%, #ff8b17 28%, #fe8b14 29%, #ff8519 32%, #fe8616 32%, #ff7a1e 39%, #fc7a1a 39%, #ff7021 45%, #fe6f20 46%, #ff6723 50%, #fc6820 50%, #ff6225 53%, #fd6222 54%, #ff5e27 56%, #ff5b27 57%, #fe5d26 57%, #ff5529 60%, #fe5828 61%, #ff502b 64%, #fd5028 64%, #ff492d 67%, #fd4a2a 68%, #ff462f 70%, #ff4430 71%, #fd452d 71%, #ff3e32 75%, #fd402d 75%, #ff3b32 77%, #fe3730 79%, #ff3335 82%, #fe3432 82%, #ff2e37 85%, #ff2d34 86%, #ff2b39 88%, #ff2936 89%, #ff263b 92%, #ff2536 93%, #fe223b 95%, #fe1e39 97%, #fd1c3e 100%, #ff1b3c 100%);
            background: -webkit-linear-gradient(left, #ffb406 0%,#feb10b 3%,#ffaf08 4%,#feab0d 7%,#ffa90a 8%,#ffa90e 9%,#ffa50c 11%,#fea211 14%,#fda20d 14%,#ff9614 21%,#fd9711 21%,#ff9016 25%,#fd9212 25%,#ff8b17 28%,#fe8b14 29%,#ff8519 32%,#fe8616 32%,#ff7a1e 39%,#fc7a1a 39%,#ff7021 45%,#fe6f20 46%,#ff6723 50%,#fc6820 50%,#ff6225 53%,#fd6222 54%,#ff5e27 56%,#ff5b27 57%,#fe5d26 57%,#ff5529 60%,#fe5828 61%,#ff502b 64%,#fd5028 64%,#ff492d 67%,#fd4a2a 68%,#ff462f 70%,#ff4430 71%,#fd452d 71%,#ff3e32 75%,#fd402d 75%,#ff3b32 77%,#fe3730 79%,#ff3335 82%,#fe3432 82%,#ff2e37 85%,#ff2d34 86%,#ff2b39 88%,#ff2936 89%,#ff263b 92%,#ff2536 93%,#fe223b 95%,#fe1e39 97%,#fd1c3e 100%,#ff1b3c 100%);
            background: linear-gradient(to right, #ffb406 0%,#feb10b 3%,#ffaf08 4%,#feab0d 7%,#ffa90a 8%,#ffa90e 9%,#ffa50c 11%,#fea211 14%,#fda20d 14%,#ff9614 21%,#fd9711 21%,#ff9016 25%,#fd9212 25%,#ff8b17 28%,#fe8b14 29%,#ff8519 32%,#fe8616 32%,#ff7a1e 39%,#fc7a1a 39%,#ff7021 45%,#fe6f20 46%,#ff6723 50%,#fc6820 50%,#ff6225 53%,#fd6222 54%,#ff5e27 56%,#ff5b27 57%,#fe5d26 57%,#ff5529 60%,#fe5828 61%,#ff502b 64%,#fd5028 64%,#ff492d 67%,#fd4a2a 68%,#ff462f 70%,#ff4430 71%,#fd452d 71%,#ff3e32 75%,#fd402d 75%,#ff3b32 77%,#fe3730 79%,#ff3335 82%,#fe3432 82%,#ff2e37 85%,#ff2d34 86%,#ff2b39 88%,#ff2936 89%,#ff263b 92%,#ff2536 93%,#fe223b 95%,#fe1e39 97%,#fd1c3e 100%,#ff1b3c 100%);
            &:hover{
                color: #fff;
            }
        }
    }
}
.copy{
    padding-top: 28px;
    font-size: 14px;
    line-height: 16px;
    color: #808080;
    text-align: left;
    font-family: @italic;
    letter-spacing: 3.5px;
}
.error{
    border-color: red!important;
}
.text-success{
    line-height: 50px;
}
@media screen and (max-width:989px) {
    .main{
        padding: 40px 0;
    }
    .container{
        padding: 0 15px;
    }
    .form {
        .form_group {
            width: 100%;
            margin-right: 0;
            input {
                width: 300px;
            }
            button {
                width: 300px;
            }
        }
    }
}
@media screen and (max-width:767px) {
    .main{
        .title{
            margin-bottom: 50px;
        }
    }
    .list{
        margin-bottom: 7px;
        width: 100%;
        li{
            font-family: @italic;
            letter-spacing: 1px;
            float: left;
            width: 50%;
            margin-bottom: 20px;
            .img{
                height: 48px;
                margin-bottom: 10px;
            }
        }
    }
    .form {
        .form_group {
            width: 100%;
            margin-right: 0;
        }
    }
}
@media screen and (min-width:320px) and (max-width: 560px) {
    .main{
        padding: 80px 0 40px;
        .title{
            p{
                margin-top: 40px;
            }
            h2{
                margin-bottom: 30px;
                img{
                    right: 36%;
                    top: 98px;
                }
            }
        }
    }
    .list{
        margin-bottom: 7px;
        width: 100%;
        li{
            font-family: @italic;
            letter-spacing: 1px;
            float: left;
            width: 100%;
            margin-bottom: 20px;
            .img{
                height: 48px;
                margin-bottom: 10px;
            }
        }
    }
    .form {
        br{
            display: none;
        }
        .form_group {
            margin-right: 0;
            input {
                width: 295px;
            }
            button {
                width: 295px;
            }
        }
    }
}