.left,.row{float:left}
*,.no-margin{margin:0}
.relative,.wrapper{position:relative}
#navigation ul li a,.next_btn,a:hover{text-decoration:none}
.clearfix:after,.next_btn:after,.progress_bar .progress:before{content:''}
*{padding:0;outline:0!important;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;list-style:none;resize:none}
.row{width:100%}
.clearfix:after{display:table;width:100%;clear:both}
.iblock,.wrapper{display:inline-block}
@font-face{font-family:Panton;src:url(../fonts/Panton.eot);src:local('вШЇ'),url(../fonts/Panton.woff) format('woff'),url(../fonts/Panton.ttf) format('truetype'),url(../fonts/Panton.svg) format('svg');font-weight:400;font-style:normal}
.right{float:right}
.aright{text-align:right}
.aleft{text-align:left}
.acenter{text-align:center}
.overflow{overflow:hidden}
.clear{clear:both}
[type=submit]{cursor:pointer}
.wrapper, .bottom, header, .training_title{max-width:960px;width:100%;text-align:left;box-shadow:0 0 5px rgba(0,0,0,.2)}
body,img{max-width:100%}
body,header h1{text-align:center}
input,textarea{font-family:inherit;font-size:inherit}
img{border:none}
table{border-collapse:collapse}
body{font-family:'Open Sans',sans-serif;font-size:14px;color:#3c3c3c}
.mgt5{margin-top:7px}
.mgt10{margin-top:10px}
.mgt15{margin-top:15px}
.mgt20{margin-top:20px}
.mgt30{margin-top:30px}
.mgt40{margin-top:40px}
#navigation{background:rgba(0,0,0,.5);position:fixed;top:0;left:0;height:100%;width:100%;z-index:500;display:none}
#navigation .close{width:50px;height:50px;position:absolute;top:10px;display:block;left:55%;background:url(../img/svg/close.svg) no-repeat}
#navigation ul{float:left;background:#fff;width:50%;height:100%;position:relative}
#navigation ul li{width:100%;float:left}
#navigation ul li:last-child{position:absolute;bottom:0;left:0}
#navigation ul li:last-child a{color:#fff;font-weight:700;background-color:#1a2338!important}
#navigation ul li a{display:block;font-family:"Open Sans",sans-serif;font-size:16px;line-height:32px;padding-top:13px;padding-bottom:13px;color:#000}
#navigation ul li a img{margin:0 15px 0 10px;float:left}
#navigation ul li.active,#navigation ul li:hover{background:#ffa140;background:linear-gradient(to right,#ffa140 0,#ff9042 20%,#ff4749 74%,#ff2e4b 100%)}
#navigation ul li.active:first-child.active a,#navigation ul li.active:first-child:hover a,#navigation ul li:hover:first-child.active a,#navigation ul li:hover:first-child:hover a{padding-left:55px;color:#000;font-weight:400;background:url(../img/icon_1.png) 10px 50% no-repeat #fff!important}
#navigation ul li.active a,#navigation ul li:hover a,.training_title{font-weight:700;color:#fff}
#navigation ul li:nth-child(1) a{padding-left:55px;background:url(../img/icon_1.png) 10px 50% no-repeat}
#navigation ul li:nth-child(2) a{padding-left:55px;background:url(../img/icon_2.png) 10px 50% no-repeat}
#navigation ul li:nth-child(3) a{padding-left:55px;background:url(../img/icon_3.png) 10px 50% no-repeat}
#navigation ul li:nth-child(4) a{padding-left:55px;background:url(../img/icon_4.png) 10px 50% no-repeat}
#navigation ul li:nth-child(5) a{padding-left:55px;background:url(../img/icon_5.png) 10px 50% no-repeat}
#navigation ul li:nth-child(6) a{padding-left:55px;background:url(../img/icon_6.png) 10px 50% no-repeat}
#navigation ul li:nth-child(7) a{padding-left:55px;background:url(../img/icon_7.png) 10px 50% no-repeat}
#navigation ul li:nth-child(8) a{padding-left:55px;background:url(../img/icon_8.png) 10px 50% no-repeat}
#navigation ul li:nth-child(9) a{padding-left:55px;background:url(../img/icon_9.png) 10px 50% no-repeat}
#navigation ul li:nth-child(1).active a,#navigation ul li:nth-child(1):hover a{padding-left:55px;background:url(../img/icon_1_h.png) 10px 50% no-repeat}
#navigation ul li:nth-child(2).active a,#navigation ul li:nth-child(2):hover a{padding-left:55px;background:url(../img/icon_2_h.png) 10px 50% no-repeat}
#navigation ul li:nth-child(3).active a,#navigation ul li:nth-child(3):hover a{padding-left:55px;background:url(../img/icon_3_h.png) 10px 50% no-repeat}
#navigation ul li:nth-child(4).active a,#navigation ul li:nth-child(4):hover a{padding-left:55px;background:url(../img/icon_4_h.png) 10px 50% no-repeat}
#navigation ul li:nth-child(5).active a,#navigation ul li:nth-child(5):hover a{padding-left:55px;background:url(../img/icon_5_h.png) 10px 50% no-repeat}
#navigation ul li:nth-child(6).active a,#navigation ul li:nth-child(6):hover a{padding-left:55px;background:url(../img/icon_6_h.png) 10px 50% no-repeat}
#navigation ul li:nth-child(7).active a,#navigation ul li:nth-child(7):hover a{padding-left:55px;background:url(../img/icon_7_h.png) 10px 50% no-repeat}
#navigation ul li:nth-child(8).active a,#navigation ul li:nth-child(8):hover a{padding-left:55px;background:url(../img/icon_8_h.png) 10px 50% no-repeat}
#navigation ul li:nth-child(9).active a,#navigation ul li:nth-child(9):hover a{padding-left:55px;background:url(../img/icon_9_h.png) 10px 50% no-repeat}
header{padding:1em}
header .nav_btn{float:left}
header .asc_quest{float:right}
header h1{font-size:2em;line-height:1.3;font-family:Panton}
.site-index {position:absolute;width:100%;overflow:hidden;/*border:1px solid #000;*/max-width:960px}
.training_title{display:none;padding:1em;font-size:1.5em;line-height:1;background:#ea943b;background:linear-gradient(to bottom,#ea943b 0,#fa9e3f 21%,#ffa140 33%,#ffa140 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea943b', endColorstr='#ffa140', GradientType=0)}
.training_body .description,.training_body > p, .training_body > div {padding:0 1.5em 1.2em;font-size:1.2em;line-height:1.2em}
.training_body .description:after,.training_body > p:after, .training_body > div:after {display:block; margin-top:1em; height:1px; background:#e6e6e6; content:""}
.training_body {display:inline-block}
.training_body .exercise-video p, .training_body .exercise-video {padding:0}
.training_body .exercise-video:after {background:transparent}
.training_body img{width:100%}
.exercise-video.horisont video { left:0; top:0; position: fixed; background: #000; width: 100%; height: 100%; z-index: 1 }
.bottom.horisont {max-width: auto}
.training_body p > strong, .training_body div > strong {color:#ffffff; background:#4d4d4d; padding:0.2em 0.8em 0.3em;display:inline-block;margin-bottom:0.5em}
.training_body div.exercise-scheme > strong {background:#ff2f4b}
.training_body div.exercise-scheme:after {display:none}
.training_body .description ul,.training_body > p ul, .training_body > div ul {margin-left:20px}
.training_body .description ul > li,.training_body > p ul > li, .training_body > div ul > li {list-style:disc}
/*.training_body p:first-child > strong {color:#ff2e4b; background:transparent}*/
.training_body p:first-child > strong
.ex_sepor {height:50px;background:transparent url(../img/ex_sepor.png) repeat-x}
.progress{background:#262e42}
.progress .table{display:table}
.progress .counter,.progress .description{display:block;vertical-align:middle;color:#fff;background:#1a2338}
.progress .description{background:#1a2338;text-align:center;line-height:3em}
.progress .counter{text-align:center;font-size:6em;font-family:'Open Sans';font-weight:300;line-height:0.8em}
.next-btn-grey{margin-top:7px;line-height:55px;box-shadow:inset 0px 0px 0px 1px #fff;height:55px;border-radius:27px;display:inline-block;width:240px;font-weight:bold;color:#fff;background:#3b4356}
.next_btn{border-radius:27px;display:block;font-size:16px;line-height:55px;background:#ffa140;width:240px;height:55px;background: -webkit-linear-gradient(left,#ffa140 0,#ff9042 20%,#ff4349 77%,#ff2f4b 100%);background: -o-linear-gradient(right,  #ffa140,  #ff2f4b);background:linear-gradient(to right,#ffa140 0,#ff9042 20%,#ff4349 77%,#ff2f4b 100%)}
.next_btn.active{cursor:pointer}
/*.next_btn:after{position:absolute;right:1em;top:0;height:100%;width:30px;background:url(../img/arrow-right.png) right 50% no-repeat #ff2e4b}*/
.progress_bar{background:#b3b3b3;position:relative;height:5px}
.progress_bar .progress{position:absolute;z-index:2;height:5px;background:#ffa140;background:linear-gradient(to right,#ffa140 0,#ff9042 20%,#ff4749 74%,#ff2e4b 100%)}
.progress_bar .progress:before{width:32px;z-index:2;height:32px;position:absolute;top:-13px;right:-15px;background:url(../img/polzunok.png) 50% no-repeat}
.progress #rest {display: none}
header, .bottom {position:fixed;z-index:2}
header {top:0;background:#fff}
header.topped {position:relative}
.training_content {position:relative; /*top:130px;*/ margin-bottom:200px/*260px*/}
.bottom {bottom:0}
.bottom > div:last-child {background:#1a2338; text-align:center}
.bottom .arrow-right, .bottom .arrow-left {width:40px; height:70px;background:url(../img/svg/bottomnav-right.svg) center no-repeat;cursor:pointer;float:right}
.bottom .arrow-left {background-image:url(../img/svg/bottomnav-left.svg);float:left;visibility:hidden}
#mfrm_real {display: none}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99998;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;

}
/*.modalDialog > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}*/
.modalDialog > div {
    width: 100%;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    background: #fff;
    /*opacity: 0.5;*/
}

.modalDialog > div .modal-header {	box-shadow: 0 0 5px rgba(0,0,0,.2);
	height: 65px;
	text-align: center;
	background: #fff;
}

.modalDialog > div .close {	display: none;}

.modalDialog > div .modal-header .modal-title {	font-family: Panton;
	font-size: 2em;
	line-height: 65px;

}

.modalDialog > div .modal-footer {	bottom: 0;
    max-width: 960px;
    width: 100%;
    height: 75px;
    background: #1a2338;
    text-align: center;
    padding-top: 11px;
    position: fixed;}

.modalDialog > div .modal-footer button {
	border-radius: 27px;
	border: none;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	line-height: 55px;
	background: #ffa140;
	width: 240px;
	height: 55px;
	background: -webkit-linear-gradient(left,#ffa140 0,#ff9042 20%,#ff4349 77%,#ff2f4b 100%);
	background: -o-linear-gradient(right,  #ffa140,  #ff2f4b);
	background:linear-gradient(to right,#ffa140 0,#ff9042 20%,#ff4349 77%,#ff2f4b 100%)}

.modalDialog > div .modal-body {	padding: 20px;}
.modalDialog > div .modal-body div {	margin-bottom: 5px;}
.modalDialog > div .modal-body div > span, .modalDialog > div .modal-body div > input, .modalDialog > div .modal-body div > textarea {	vertical-align: middle;
	display: inline-block;}
.modalDialog > div .modal-body div input, .modalDialog > div .modal-body div textarea {	padding: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 10px;}

@media screen and (max-width:420px){body{font-size:3.5vw}
body #navigation .close{left:75%}
body #navigation ul{width:70%}
}
@media screen and (max-width:768px) and (min-width:420px){body{font-size:3vw}
}
@media screen and (max-width:1200px) and (min-width:768px){body{font-size:2vw}
}

/* course order schedule */
.course-schedule-table {
	border-collapse: collapse;
}
.course-schedule-table td {
	width: 40px;
	height: 40px;
	border: 2px solid #e6e6e6;
}
.course-schedule-table td.trained {
	background: #f2f2f2;
}
/*#course-shedule .course-day-schedule {
	border: 4px solid #e5e5e5;
	width: 80px;
	height: 80px;
	float: left;
}*/

/* end course order schedule */