@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=cyrillic');

@font-face{font-family:Conv_bebasneuebold;src:url(../fonts/bebasneuebold.eot);src:local('☺'),url(../fonts/bebasneuebold.woff) format('woff'),url(../fonts/bebasneuebold.ttf) format('truetype'),url(../fonts/bebasneuebold.svg) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:Conv_Gilroyextrabold;src:url(../fonts/Gilroyextrabold.eot);src:local('☺'),url(../fonts/Gilroyextrabold.woff) format('woff'),url(../fonts/Gilroyextrabold.ttf) format('truetype'),url(../fonts/Gilroyextrabold.svg) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:Conv_Gilroylight;src:url(../fonts/Gilroylight.eot);src:local('☺'),url(../fonts/Gilroylight.woff) format('woff'),url(../fonts/Gilroylight.ttf) format('truetype'),url(../fonts/Gilroylight.svg) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:Conv_pfdintextcomppro-medital;src:url(../fonts/pfdintextcomppro-medital.eot);src:local('☺'),url(../fonts/pfdintextcomppro-medital.woff) format('woff'),url(../fonts/pfdintextcomppro-medital.ttf) format('truetype'),url(../fonts/pfdintextcomppro-medital.svg) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:Conv_pfdintextpro-meditalic;src:url(../fonts/pfdintextpro-meditalic.eot);src:local('☺'),url(../fonts/pfdintextpro-meditalic.woff) format('woff'),url(../fonts/pfdintextpro-meditalic.ttf) format('truetype'),url(../fonts/pfdintextpro-meditalic.svg) format('svg');font-weight:400;font-style:normal}

html, body {
    height:100%;
}

body {
    background: url(../images/cabinet_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-wrapper {
    background: #ffffff;
    min-height: 100%;
    height: auto;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.main-sidebar {
    float: left;
    min-height: 100%;
    height: 100%;
    width: 320px;
    background: #ffffff;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.20);
    position: fixed;
    z-index: 100;
}

.sidebar-user-info {
    background: #1a2338;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    position: relative;
    height: 70px;
}

.sidebar-user-info a:active,
.sidebar-user-info a:focus,
.sidebar-user-info a:hover,
.sidebar-user-info a {
    color: #ffffff;
}

/* User info Start */
.user-info-avatar {
    background: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 16px;
}

.user-info-fullname {
    position: absolute;
    top: 24px;
    left: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.user-info-fullname span {
    font-weight: 600;
}

/* User info End */

/* Sidebar navigation Start */
.sidebar-navigation {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 12px 0;
}

a.navigation-item {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 60px;
    color: #000000;
    position: relative;
}

a.navigation-item:hover {
    background-color: #efefef;
    color: #333333;
    text-decoration: none;
}

a.navigation-item.active {
    background: #f2f2f2;
    font-weight: 700;
}

a.navigation-item div {
    position: absolute;
    left: 20px;
    top: 7px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

a.navigation-item.active div {
    /*background-position: 0px 24px;*/
}

.nav-icon-workout { background-image: url(../images/nav-icon-workout.png); }
.nav-icon-calendar { background-image: url(../images/nav-icon-calendar.png); }
.nav-icon-achievements { background-image: url(../images/nav-icon-achievements.png); }
.nav-icon-apple { background-image: url(../images/nav-icon-apple.png); }
.nav-icon-tickets { background-image: url(../images/nav-icon-tickets.png); }
.nav-icon-faq { background-image: url(../images/nav-icon-faq.png); }
.nav-icon-news { background-image: url(../images/nav-icon-news.png); }
.nav-icon-course { background-image: url(../images/nav-icon-course.png); }
.nav-icon-webinars { background-image: url(../images/nav-icon-webinars.png); }
.nav-icon-exit { background-image: url(../images/nav-icon-exit.png); }

/* Sidebar navigation End */

.main-container {
    margin-left: 320px;
}

/* Page base elements Start */
.page-title {
    background: #ffffff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.20);
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
    z-index: 20;
}

.open-sidebar {
    display: none;
    position: absolute;
    left: 13px;
    top: -2px;
}

.open-sidebar img {
    width: 24px;
}

.feedback-button {
    position: absolute;
    right: 13px;
    top: 0px;
}

.page-content {
    padding: 0 40px;
    overflow: hidden;
}
/* Page base elements End */

/*
.main-wrapper .container {
    max-width: 960px;
}*/

.ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(26,35,56, 0.7);
    display: none;
    z-index: 90;
}

/* Calendar Start */

/*

td.fc-head-container.fc-widget-header {
    border-top: 0;
}

th.fc-day-header.fc-widget-header {
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
}

td.fc-day.fc-widget-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    height: 56px;
}

a.fc-day-number {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #000000;
    margin-right: 3px;
    margin-top: 1px;
    pointer-events: none;
}

a.fc-day-number:hover {
    color: #000000;
    text-decoration: none;
}*/

.popup{font-size:10px;padding:10px;max-width:120px!important;height:90px!important;transform:translate(-50%,-50%)}
.popup .time{float:left}
.popup .day{float:right}
.popup .description{font-family:pf_din_text_comp_promedium;font-size:12px}
.popup .day-allready{height:14px;background:url(../img/allready.png) 50% 50% no-repeat}
.popup .day-soon{height:16px;background:url(../img/soon.png) 50% 50% no-repeat}
.popup .day-false{height:14px;background:url(../img/close.png) 50% 50% no-repeat}
.popup .day-important{height:16px;background:url(../img/important2.png) 50% 50% no-repeat}
.popup .description,h2{text-transform:uppercase}
.popup .day,.popup .time{margin-bottom:10px;font-size:10px}
input,textarea{font-family:inherit!important;font-size:inherit!important}
img{border:none;max-width:100%;-webkit-user-drag:none}
[type=submit],button{cursor:pointer;border:0}

.page-content .fc td.fc-day.fc-today {	background: #ff3e49;
    background: linear-gradient(to right,#ff3e49 0,#ff464b 12%,#fe4b47 18%,#ff4f49 23%,#ff9041 97%,#ff8f43 100%);}
.page-content .fc-event-container .day-allready:before,.page-content .fc-event-container .day-false:before,.page-content .fc-event-container .day-important:before,.page-content .fc-event-container .day-soon:before{display:block;width:16px;top:5px;left:50%;margin-left:-8px;content:''}
.page-content .fc-event-container .day-allready{position:relative}
.page-content .fc-event-container .day-allready:before{position:absolute;height:14px;background:url(../img/allready.png) 50% 50% no-repeat}
.page-content .fc-event-container .day-soon{position:relative}
.page-content .fc-event-container .day-soon:before{position:absolute;height:16px;background:url(../img/soon.png) 50% 50% no-repeat}
.page-content .fc-event-container .day-false{position:relative}
.page-content .fc-event-container .day-false:before{position:absolute;height:14px;background:url(../img/close.png) 50% 50% no-repeat}
.page-content .fc-event-container .day-important{position:relative;display:block}
.page-content .fc-event-container .day-important:before{position:absolute;height:16px;background:url(../img/important.png) 50% 50% no-repeat}
.page-content .day-allready,.page-content .day-false,.page-content .day-soon{background:#f2f2f2; cursor: pointer}
.page-content .fc-event{position:relative}
.page-content .fc-event .fc-content{white-space:normal;overflow:visible}
.page-content .fc-event .fc-content .fc-title{display:none}
.page-content .fc-event .fc-day-number{padding-bottom:0!important}
.page-content .fc-event .fc-time{color:#000!important;position:absolute;bottom:100%;font-size:10px;padding-bottom:1px}
.page-content .day-important{background:#ff3e49;background:linear-gradient(to right,#ff3e49 0,#ff464b 12%,#fe4b47 18%,#ff4f49 23%,#ff9041 97%,#ff8f43 100%)}
.page-content #calendar .fc-body .fc-row{height:58px!important}
.page-content #calendar .fc-scroller{height:100%!important}
.page-content #calendar .fc-head-container{border-top:none!important;height:20px;padding-top:5px}
.page-content #calendar .fc-view-container *,.page-content #calendar .fc-view-container :after,.page-content #calendar .fc-view-container :before{font-style:normal;font-size:10px}
.page-content #calendar .fc-view-container .fc-day-header{border-top:none;border-color:transparent;font-family:'Open Sans',sans-serif}
.page-content #calendar .fc-toolbar .fc-center,.page-content .item .info_block h2{font-family:pf_din_text_comp_promedium;color:#fff}
.page-content #calendar .fc-toolbar{height:38px;background:#ff9341;background:linear-gradient(to right,#ff9341 0,#fe8d41 10%,#ff7046 42%,#ff6b43 45%,#ff6c46 46%,#ff6a47 48%,#fe6045 58%,#ff5748 68%,#ff5345 70%,#ff5349 72%,#fe5047 75%,#ff504a 76%,#fe4d47 78%,#fe4b47 81%,#ff4b4a 81%,#fe3f47 95%,#ff3f4a 96%,#ff3c4a 100%);margin-bottom:0;border-radius:5px 5px 0 0}
.page-content #calendar .fc-toolbar .fc-center h2{font-size:14px;line-height:40px}
.page-content #calendar .fc-toolbar .fc-left,.page-content #calendar .fc-toolbar .fc-right{border:none;background:0 0}
.page-content #calendar .fc-toolbar .fc-left button,.page-content #calendar .fc-toolbar .fc-right button{background:0 0;border:none;box-shadow:none;width:30px;height:38px;position:relative}
.page-content #calendar .fc-toolbar .fc-left button .fc-icon-left-single-arrow,.page-content #calendar .fc-toolbar .fc-right button .fc-icon-left-single-arrow{display:block;position:absolute;width:100%;height:100%;top:0;left:0;margin:0;padding:0;background:url(../img/left.png) 50% 50% no-repeat}
.page-content #calendar .fc-toolbar .fc-left button .fc-icon-left-single-arrow:after,.page-content #calendar .fc-toolbar .fc-right button .fc-icon-left-single-arrow:after{display:none}
.page-content #calendar .fc-toolbar .fc-left button .fc-icon-right-single-arrow,.page-content #calendar .fc-toolbar .fc-right button .fc-icon-right-single-arrow{display:block;position:absolute;width:100%;height:100%;top:0;left:0;margin:0;padding:0;background:url(../img/right.png) 50% 50% no-repeat}
.page-content #calendar .fc-toolbar .fc-left button .fc-icon-right-single-arrow:after,.page-content #calendar .fc-toolbar .fc-right button .fc-icon-right-single-arrow:after{display:none}
.page-content .item{position:relative;height:180px;margin-bottom:2px;width:640px;max-width:100%;display:inline-block}
.page-content .item .info_block{padding-top:45px;position:relative;z-index:20;display:inline-block}
.page-content .item .info_block h2{font-size:20px;line-height:22px;margin-bottom:38px}
.page-content .item .info_block .block{margin-left:10px;display:inline-block;font-size:8px;width:240px;color:#fff}
.page-content .item .info_block .block .button,.page-content .item .info_block .block span{font-size:12px;font-family:pf_din_text_comp_promedium}
.page-content .item .info_block .block .min{padding-top:2px;float:left;width:30px}
.page-content .item .info_block .block .button{padding-top:6px;margin-left:10px;border-radius:15px;text-transform:uppercase;color:#fff;display:inline-block;width:110px;height:30px;background:#fa9d3e;background:linear-gradient(to right,#fa9d3e 0,#ffa042 2%,#fe9d3f 6%,#ff9341 18%,#ff5f45 56%,#ff5649 63%,#ff4a47 72%,#fe4749 73%,#ff3a4b 85%,#fe3349 94%,#ff304c 98%,#fd2e4a 100%)}
.page-content .item .info_block .block .date{padding-top:2px;float:right;width:55px}
.page-content .item.soon{height:120px}
.page-content .item.soon:before{content:'';position:absolute;top:0;left:0;bottom:0;right:0;z-index:10;background:rgba(255,255,255,.8)}
.page-content .item.soon .info_block{padding-top:10px}
.page-content .item.soon .info_block h2{color:#000;margin-bottom:15px}
.page-content .item.soon .info_block .block{color:#000}
.page-content .item.soon .info_block .block .center{display:inline-block}
.page-content .item.soon .info_block .block .center span{font-family:pf_din_text_comp_promedium}
.page-content .item.bg_1{background:url(../img/item_bg1.jpg) 50% no-repeat;background-size:cover}
.page-content .item.bg_2{background:url(../img/item_bg2.jpg) 50% no-repeat;background-size:cover}
.page-content .item.bg_3{background:url(../img/item_bg3.jpg) 50% no-repeat;background-size:cover}
.page-content .item.bg_4{background:url(../img/soon_bg1.jpg) 50% no-repeat;background-size:cover}
.page-content .item.bg_5{background:url(../img/soon_bg2.jpg) 50% no-repeat;background-size:cover}
.page-content .more{padding:10px 0;background:#d9d9d9}
.page-content .more .button{display:inline-block;background:#fff;color:#000;font-family:pf_din_text_comp_promedium;border-radius:15px;width:100px;height:30px;font-size:14px;padding-top:5px}
.today{border:2px solid #000!important;background:#fcf8e3;opacity:0.5}
.shadow{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:0 0;z-index:1}
.fc-day-number{pointer-events:none}


.fc-toolbar.fc-header-toolbar {
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    margin: 0;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    border-radius: 8px 8px 0px 0px;
}

.fc-left,
.fc-right,
.fc-center {
    height: 40px;
    line-height: 40px;
}

.fc-toolbar .fc-center h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

button.fc-prev-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right,
button.fc-next-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
    border: none;
    background: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    box-shadow: none;
}

/* Calendar End */

/* Courses page Start */

.main-container.course .page-title {
    margin-bottom: 0;
}

.main-container.course .page-content {
    padding: 0;
    padding-bottom: 50px;
}

.course-preview {
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #ffffff;

    margin-top: -60px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 540px, 50% 100%, 0 540px);
    clip-path: polygon(0 0, 100% 0, 100% 540px, 50% 100%, 0 540px);
    position: relative;
}

.course-details {
    text-align: center;
    width: 340px;
    margin: 0 40px;
    padding-top: 70px;
}

.course-details .course-word {
    color: #ffc833;
    text-transform: uppercase;
    font-size: 44px;
    font-family: Conv_bebasneuebold, sans-serif;
}

.course-details .course-title {
    text-transform: uppercase;
    font-size: 22px;
    font-family: Conv_Gilroyextrabold, sans-serif;
    margin-bottom: 15px;
}

.course-details .course-title span {
    text-transform: none;
    font-size: 18px;
    font-family: Conv_Gilroylight, sans-serif;
    display: block;
}

.course-details .course-description {
    font-size: 18px;
    font-family: Conv_Gilroylight, sans-serif;
    margin-bottom: 20px;
}

.course-details .course-order-btn {
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius:205px;
}

.course-details .course-order-btn:active,
.course-details .course-order-btn:focus,
.course-details .course-order-btn:hover {
    text-decoration: none;
    color: #ffffff;
}

#course-1 {background-image: url(../images/cours1_bg.png); margin-top: 0!important; z-index: 15;}
#course-2 {background-image: url(../images/cours2_bg.png); background-position: left top; background-color: #f0f0f0; z-index: 10;}
#course-2 .course-details { float: right; padding-top: 150px; }
#course-3 {background-image: url(../images/cours3_bg.png); background-color: #dddddd; z-index: 5;}

.course-bg-element {
    position: absolute;
}

#course-1 .course-bg-element {background: url(../images/course1_bg_element.png) no-repeat center; width: 132px; height: 121px; left: 50px; top: 400px;}
#course-2 .course-bg-element {background: url(../images/course2_bg_element.png) no-repeat center; width: 119px; height: 91px; right: 30px; top: 50px;}
#course-3 .course-bg-element {background: url(../images/course3_bg_element.png) no-repeat center; width: 164px; height: 110px; left: 200px; top: 450px;}

/* Courses page End */

/* Course modal Start */
@media (min-width: 992px) {
    .order-modal-size {
        width: 650px;
    }
}

#orderModal button.close {
    background: #ffba00;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    opacity: 1;
    text-shadow: none;
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
    margin-right: -25px;
    margin-top: -40px;
}

#orderModal .modal-body {
    padding: 65px 50px;
}

.course-order-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 40px;
}

.modal-body-course .course-order-item {
    width: 100%;
    min-height: 108px;
    padding-top: 30px;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
}

.course-order-item-amount,
.course-order-item-title {
    float: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    min-height: 50px;
}

.course-order-item-amount {
    width: 95px;
    line-height: 47px;
    font-weight: 600;
    font-size: 24px;
    position: relative;
}

.course-order-item-amount div {
    font-size: 16px;
    background: #ffba00;
    position: absolute;
    top: -15px;
    right: 5px;
    line-height: 22px;
    padding: 0 10px;
    border-radius: 15px;
}

.course-order-item-title {
    padding-left: 55px;
    background: url(../images/period.png) no-repeat 0px 0px;
    line-height: 23px;
}

.course-order-item-title span {
    font-weight: 600;
}

.course-order-item-buy {
    float: right;
    line-height: 47px;
}

#orderModal .modal-content {
    border: none;
    border-radius: 0;
}

.course-order-item-buy a {
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    padding: 7px 30px;
    border-radius:205px;
}

.course-order-item-buy a:active,
.course-order-item-buy a:focus,
.course-order-item-buy a:hover {
    text-decoration: none;
    color: #ffffff;
}

.go-to-payment {
    float: right;
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius:205px;
}

.go-to-payment:active,
.go-to-payment:focus,
.go-to-payment:hover {
    text-decoration: none;
    color: #ffffff;
}

#orderModal .order-footer {
    background: #f3f3f3;
    border-top: none;
    text-align: left;
    padding: 40px 50px;
    position: absolute;
    left: 0px;
    /*bottom: -36px;*/
    margin-top: -1px;
    z-index: 100;
    width: 100%;
}

#orderModal .order-footer label {
    font-family: Conv_Gilroylight, sans-serif;
    color: #000000;
    font-size: 18px;
}

#orderModal .order-footer a {
    color: #000000;
    text-decoration: underline;
}

/* Course modal End */

/* Course landing page Start */
.course-lp-wrapper {
    position: relative;
}

.course-video-preview {
    max-height: 398px;
    max-width: 620px;
    margin: 10px auto;
}

.course-title {
    color: #000000;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}

.course-sub-title {
    font-family: Conv_Gilroylight, sans-serif;
    font-size: 18px;
    text-align: center;
}

.course-decription {
    min-height: 195px;
    position: relative;
    background: url('../images/course_description_bg.png') no-repeat 30px 0px;
}

.course-decription .decription-content {
    float: right;
    margin: 40px 0;
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    width: 480px;
    height: 113px;
    border-radius: 70px 0 0 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    padding: 15px 50px;
}

.dotted-line {
    height: 8px;
    background: url(../images/dotted_bg.png) repeat-x;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.course-details-wrapper {
    position: relative;
    overflow: hidden;
}

.course-features {
    background: #ffffff;
    padding: 0 15px;
    overflow: hidden;
    min-height: 310px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 255px, 50% 100%, 0 255px);
    clip-path: polygon(0 0, 100% 0, 100% 255px, 50% 100%, 0 255px);
    position: relative;
    z-index: 10;
}

.feature-item {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-bottom: 25px;
    overflow: hidden;
}

.feature-item img {
    float: left;
}

.feature-item .feature-item-text {
    margin-left: 60px;
}

.course-bg-element {
    background: url(../images/course_lp_bg_element.png);
    width: 294px;
    height: 294px;
    position: absolute;
    top: 160px;
    right: 70px;
    z-index: 15;
}

.course-results {
    margin-top: -55px;
    background: url(../images/results_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 570px;
    padding-top: 95px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 515px, 50% 100%, 0 515px);
    clip-path: polygon(0 0, 100% 0, 100% 515px, 50% 100%, 0 515px);
    position: relative;
    z-index: 5;
}

.course-results-title {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    top: 340px;
    width: 100%;
    z-index: 20;
}

.course-results-gallery {
    top: 420px;
    position: absolute;
    z-index: 20;
    width: 100%;
}

.course-results-gallery .carousel-control.left,
.course-results-gallery .carousel-control.right {
    background: none;
}

.carousel-inner>.item {
    height: auto;
    width: auto;
}

.carousel-inner .item img {
    margin: 0 auto;
}

.course-price {
    padding-top: 43px;
}

.course-price-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 50px;
}

.price-items {
    overflow: hidden;
    padding: 0 5%;
}

.price-item {
    position: relative;
    width: 32.3%;
    float: left;
    background: url(../images/course_price_bg.png) #e7e5e5  no-repeat right 70%;
    min-height: 580px;
    border-radius: 10px;
}

.price-item-title {
    text-align: center;
    height: 56px;
    line-height: 56px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 26px;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
}

.price-item:nth-child(2) {
    margin: 0 1.5%;
}

.price-item-type-vip .price-item-title {
    background: #f79c3e;
    background: -moz-linear-gradient(left,  #f79c3e 0%, #ff8d42 100%);
    background: -webkit-linear-gradient(left,  #f79c3e 0%,#ff8d42 100%);
    background: linear-gradient(to right,  #f79c3e 0%,#ff8d42 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79c3e', endColorstr='#ff8d42',GradientType=1 );
}

.price-item-type-base .price-item-title {
    background: #ff7344;
}

.price-item-type-optimal .price-item-title {
    background: #ff4249;
}


.price-item ul {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    list-style: none;
}


.price-item ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #000000;
    padding-bottom: 15px;
    padding-left: 23px;
    margin: 0 15px;
    background-repeat: no-repeat;
    background-position: 0px 5px;
}

.price-item.price-item-type-vip ul li { background-image: url(../images/check_vip.png);}
.price-item.price-item-type-base ul li { background-image: url(../images/check_base.png);}
.price-item.price-item-type-optimal ul li { background-image: url(../images/check_optimal.png);}

.price-cost {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 80px;
}

.buy-price-btn {
    display: block;
    width: 114px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 19px;
    position: absolute;
    left: 50%;
    margin-left: -57px;
    bottom: 30px;
}

.buy-price-btn:active,
.buy-price-btn:focus,
.buy-price-btn:hover {
    color: #ffffff;
    text-decoration: none;
    background: #ff9341;
}

/* Course landing page End */

/* Video player Start */
.video-js .vjs-big-play-button {
    left: 50%;
    top: 50%;
    border: none;
    background: url(../images/play_button.png) no-repeat center;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
}

.vjs-icon-play:before, .video-js .vjs-big-play-button:before, .video-js .vjs-play-control:before {
    content: '';
}

.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
    background: url(../images/play_button.png) no-repeat center;
    opacity: 0.7;
}

.video-js {
    margin: 0 auto;
}

/* Video player End */

/* Payment Order Start */
.payment-order {
    text-align: center;
}

a.go-pay {
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius:205px;
    margin-top: 20px;
}

a.go-pay:active,
a.go-pay:focus,
a.go-pay:hover {
    text-decoration: none;
    color: #ffffff;
}
/* Payment Order End */

/* Account Start */
.main-container.account {
    background: #e7e5e5;
}

.main-container.account .panel.panel-account:first-child {
    margin-top: 60px;
}

.panel.panel-account {
    border: none;
    margin-bottom: 40px;
    border-radius: 8px;
}

.panel.panel-account .panel-heading {
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px 8px 0 0;
}

.panel.panel-account .panel-body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    padding: 40px 25px;
}

.main-container.account .order-details {
    font-size: 14px;
}

.main-container.account .order-title {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
}

.timer-count-down {
    font-size: 24px;
    border: 1px solid #000000;
    border-radius: 3px;
}

.count-down-description {
    font-size: 12px;
}

.btn-wm:active,
.btn-wm:focus,
.btn-wm:hover,
.btn-wm {
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    width: 140px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}

.col-lg-4 .btn-wm:first-child {
    margin-bottom: 10px;
}

.avatar-input {
    text-align: center;
}

.avatar-input .user-avatar {
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
}

#avatar_file {
    display: none;
}

a.select-avatar-file {
    display: block;
    margin: 0 auto;
    width: 125px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #bdbdbd;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}

a.select-avatar-file:active,
a.select-avatar-file:focus,
a.select-avatar-file:hover {
    color: #666666;
    text-decoration: none;
    border: 1px solid #666666;
}

a.select-avatar-file.now-loading {
    pointer-events: none;
    opacity: 0.7;
}

/* Account End */

/* News Start */
.main-container.news.index .page-content {
    padding: 0;
}

.news-index-title {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.news-list {
    padding-right: 150px;
    background: url(/images/news_list_bg.png) no-repeat 90% 2%,
    url(/images/news_list_bg_2.png) no-repeat center 95%;
    overflow: hidden;
    padding-bottom: 150px;
}

.news-list-item {
    overflow: hidden;
    padding-left: 20px;
    margin-bottom: 20px;
}

.news-list-item-number {
    float: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    background: url(../images/news_list_item_number.png) no-repeat center;
    width: 54px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-top: 5px;
}

.news-list-title,
.news-list-content {
    font-family: 'Open Sans', sans-serif;
    margin-left: 74px;
}

.news-list-content a:active,
.news-list-content a:focus,
.news-list-content a:hover,
.news-list-content a {
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

.news-list-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffc833;
    line-height: 25px;
    margin-bottom: 10px;
}

.action-news-block {
    background: url(../images/news_action_bg.png) no-repeat center;
    height: 562px;
    margin-top: -70px;
    padding-top: 100px;
    position: relative;
    margin-bottom: 50px;
}

.action-news-block-title,
.action-news-block-description,
.action-news-block-subtitle {
    text-align: center;
    color: #000000;
}

.action-news-block-title {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.action-news-block-description {
    font-family: Conv_Gilroylight, sans-serif;
    font-size: 16px;
}

.action-news-block-subtitle {
    font-family: Conv_Gilroyextrabold, sans-serif;
    font-size: 24px;
}

.action-news-block-code {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    top: 265px;
    left: 295px;
    text-align: center;
    color: #000000;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
}

.action-news-block-code span {
    font-weight: bold;
}

.action-news-block-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000000;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 350px;
}

.action-news-block-text a:active,
.action-news-block-text a:focus,
.action-news-block-text a:hover,
.action-news-block-text a {
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}


@media screen and (max-width: 670px) {
    .news-index-title {
        padding-top: 20px;
    }

    .news-list {
        background: url(/images/news_list_bg_2.png) no-repeat center 95%;
        padding-right: 20px;
    }

    .news-list-content a:active, .news-list-content a:focus, .news-list-content a:hover, .news-list-content a {
        width: 206px;
    }

    .action-news-block {
        background: url(/images/news_action_bg_mobile.png) no-repeat center;
        background-size: 100% 100%;
        margin-top: -50px;
    }

    .action-news-block-code {
        left: 30px;
    }

    .action-news-block-text {
        right: 20px;
        top: 370px;
    }
}

/* News End */

/* Tickets Start */
.main-container.ticket .page-content {
    padding: 0 10px;
}

.ticket-main-title {
    height: 140px;
    line-height: 140px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}

a.ticket-item {
    display: block;
    height: 60px;
    margin-bottom: 32px;
}

a.ticket-item:focus,
a.ticket-item:active,
a.ticket-item:hover {
    text-decoration: none;
}

a.ticket-item.new {
    background: #f8f8f8;
}

.ticket-item-id {
    float: left;
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: Conv_Gilroyextrabold, sans-serif;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
}

.ticket-item-title {
    height: 60px;
    line-height: 60px;
    margin-left: 60px;
    margin-right: 190px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    border-top: 1px solid #e7e5e5;
    border-bottom: 1px solid #e7e5e5;
}

.ticket-item-title div {
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.ticket-item-title div span {
    font-size: 12px;
    color: #c4c4c4;
}

.ticket-item-role {
    float: right;
    width: 190px;
}

.ticket-item-role-icon {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #e7e5e5;
    color: #ffffff;
    position: relative;
}

.ticket-item-role-icon .ticket-item-role-subtitle {
    display: none;
}

.ticket-item-role-title {
    height: 60px;
    line-height: 60px;
    margin-left: 60px;
    padding-left: 20px;
    border-top: 1px solid #e7e5e5;
    border-bottom: 1px solid #e7e5e5;
}

.ticket-item-role-title span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.ticket-form {
    background: #f8f8f8;
    margin: 63px -10px 0 0px;
    padding: 37px 95px 160px 78px;
}

.ticket-form .has-success label,
.ticket-form label {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #000000;
    height: 50px;
    line-height: 40px;
}

#ticket-from .has-success  select.form-control,
#ticket-from select.form-control {
    border-radius: 0;
    border-color: #b4b4b4;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 25px;
    height: 50px;
}

#ticket-message-form .has-success textarea.form-control,
#ticket-from .has-success textarea.form-control,
#ticket-message-form textarea.form-control,
#ticket-from textarea.form-control {
    border-radius: 0;
    border-color: #b4b4b4;
    font-family: 'Open Sans', sans-serif !important;
    padding: 15px;
}

.btn.btn-send-ticket {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 37px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    background: #ff9341;
    background: -moz-linear-gradient(left, #ff9341 0%, #ff414e 100%);
    background: -webkit-linear-gradient(left, #ff9341 0%,#ff414e 100%);
    background: linear-gradient(to right, #ff9341 0%,#ff414e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9341', endColorstr='#ff414e',GradientType=1 );
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
}

#ticket-message-form .file-attachments input,
#ticket-from .file-attachments input {
    display: none;
}

#ticket-message-form .file-attachments,
#ticket-from .file-attachments {
    margin-bottom: 25px;
}

#ticket-message-form .file-attachments a,
#ticket-from .file-attachments a {
    display: block;
    float: left;
    width: 240px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #b4b4b4;
    padding-left: 55px;
    background: #ffffff url('/images/file_attachments_icon.png') no-repeat 10px 9px;
    color: #1a2338;
}

#ticket-message-form .file-attachments a:focus,
#ticket-from .file-attachments a:focus,
#ticket-message-form .file-attachments a:active,
#ticket-from .file-attachments a:active,
#ticket-message-form .file-attachments a:hover,
#ticket-from .file-attachments a:hover {
    text-decoration: none;
}

#ticket-message-form .file-attachments .attachments,
#ticket-from .file-attachments .attachments {
    margin-left: 260px;
}

#ticket-message-form .file-attachments .attachments > span,
#ticket-from .file-attachments .attachments > span {
    font-size: 14px;
    display: block;
    padding: 10px 0;
}

#ticket-message-form .file-attachments .attachments span span.filename,
#ticket-from .file-attachments .attachments span span.filename {
    font-family: 'Open Sans', sans-serif !important;
    color: #1a2338;
}

#ticket-message-form .file-attachments .attachments span span.glyphicon,
#ticket-from .file-attachments .attachments span span.glyphicon {
    color: #95bb2d;
    margin-left: 3px;
}

@media screen and (max-width: 670px) {

    .ticket-item-title {
        margin-right: 60px;
    }

    .ticket-item-title div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .ticket-item-role-icon .ticket-item-role-subtitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: 60px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding: 3px;
    }

    .ticket-item-role {
        width: 60px;
    }

    .ticket-item-role-title {
        display: none;
    }

    .ticket-item-role-icon .ticket-item-role {

    }

    .ticket-form {
        margin: 63px -10px 0 -10px;
        padding: 40px 10px 55px 10px;
    }

    #ticket-message-form .file-attachments a,
    #ticket-from .file-attachments a {
        float: none;
    }

    #ticket-message-form .file-attachments .attachments,
    #ticket-from .file-attachments .attachments {
        margin-left: 0;
    }
}


/* Tickets End */

/* Tickets-item Start */
.ticket-details .ticket-main-title {
    line-height: 100px;
    height: 100px;
    text-align: left;
    font-size: 26px;
}

.ticket-details .ticket-status {
    line-height: 100px;
    height: 100px;
    float: right;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    padding-right: 20px;
}

.ticket-details .ticket-status span {
    color: #95bb2d;
    margin-right: 3px;
}

.ticket-message {
    overflow: hidden;
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
}

.ticket-message.user {
    background: #ffffff;
}

.ticket-message.admin {
    background: #f2f2f2;
}

.ticket-user-avatar {
    width: 78px;
    border-radius: 50%;
    float: left;
}

.ticket-user-name,
.ticket-message-content,
.ticket-attachments {
    margin-left: 105px;
}

.ticket-message-content {
    padding: 10px 0;
}

.ticket-user-name span.user-name {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #1a2338
}

.ticket-user-name span.date-time {
    color: #aeaeae;
    font-size: 14px;
}

.ticket-attachments a {
    color: #aeaeae;
    font-size: 12px;
}

.ticket-message-form {
    background: #f8f8f8;
    border-top: 4px solid #e8e8e8;
    margin-left: -10px;
    padding: 20px 0px 40px 10px;
    overflow: hidden;
}

#ticket-message-form {
    position: relative;
}

.ticket-message-fields {
    margin-right: 160px;
}

#ticket-message-form .btn-send-ticket {
    width: 142px;
    position: absolute;
    top: 25px;
    right: 0;
}

@media screen and (max-width: 670px) {
    .ticket-message-fields {
        margin-right: 0;
    }

    #ticket-message-form .btn-send-ticket {
        position: static;
    }
}

/* Tickets-item End */

/* Ticket modal Start */
#ticketModal .modal-content {
    border-radius: 0;
}

#ticketModal .modal-content .modal-body {
    padding: 0;
}

#ticketModal .ticket-form {
    margin: 0px -10px;
    padding: 80px 95px 60px 78px;
}

#ticketModal button.close {
    background: #ffba00;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    opacity: 1;
    text-shadow: none;
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
    margin-right: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 670px) {
    #ticketModal .ticket-form {
        padding: 80px 5px 60px 7px;
    }

    .ticket-form .has-success label, .ticket-form label {
        display: none;
    }
}

/* Ticket modal End */

/* User Anket Start */
.user-anket {
    padding-top: 20px;
}

.user-anket .has-success label.control-label,
.user-anket .has-error label.control-label,
.user-anket label.control-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    height: auto;/*42px;*/
    /*padding-top: 13px;*/
}

.user-anket .has-success input[type="password"],
.user-anket .has-error input[type="password"],
.user-anket input[type="password"],
.user-anket .has-success input[type="text"],
.user-anket .has-error input[type="text"],
.user-anket input[type="text"],
.user-anket textarea {
    max-width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid #c4c4c4;
    color: #000000;
    padding: 10px 18px;
    height: auto;
}
.user-anket textarea {	height: 80px !important;}

.user-anket input[type=radio].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

.user-anket input[type=radio].css-checkbox + label.css-label {
    margin-top: 7px;
    padding-left: 35px;
    width: 120px;
    height: 27px;
    display: inline-block;
    line-height: 27px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    vertical-align: middle;
    cursor: pointer;
}

.user-anket input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -27px;
}
.user-anket label.css-label {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_a244d929e3755fc860bfe9dfdddc03e3.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-anket input[type=checkbox].css-calendar-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

.user-anket label.css-calendar-label {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-right: 15px;
}

.user-anket input[type=checkbox].css-calendar-checkbox:checked + label.css-calendar-label {
    background: #ffc833;
    border: 1px solid #ffc833;
}

.input-form-part {
    position: relative;
    padding-right: 40px;
}

.check-button {
    position: absolute;
    right: 0px;
    top: 3px;
    width: 32px;
    height: 32px;
    text-indent: -99999px;
    background: #ffffff url(../images/check-submit-btn.png) no-repeat center;
}

/* User Anket End */

/* Course Anket Start */
.main-container.course.view .page-content {
    padding: 40px;
    background: #e7e5e5;
}
/* Course Anket End */

@media screen and (max-width: 800px) {
    .open-sidebar {
        display: block;
    }

    .main-sidebar {
        position: fixed;
        left: 0px;
        overflow-y: auto;
        overflow-x: visible;
        transform: translate(-320px, 0);
        box-shadow: none;
    }

    .main-container {
        margin-left: 0;
    }

    .main-wrapper {
        width: 100%;
    }

    .course-features {
        -webkit-clip-path: none;
        clip-path: none;
    }

    .course-results-title {
        top: 360px;
    }

    .course-bg-element {
        right: -130px;
    }
}

@media screen and (max-width: 670px) {

    .price-item {
        width: 100%;
        min-height: 510px;
        margin-bottom: 20px;
    }

    .price-item:nth-child(2) {
        margin: 0;
        margin-bottom: 20px;
    }

    .course-bg-element {
        display: none;
    }

    .course-video-preview {
        margin: 0 auto;
    }

    .course-title {
        font-size: 20px;
        padding-top: 20px;
    }

    .course-sub-title {
        font-size: 16px;
        padding: 0 20px;
    }

    .course-decription {
        background: none;
        height: auto;
    }

    .course-decription .decription-content {
        float: none;
        width: auto;
        height: auto;
        border-radius: 0;
    }

    .course-results {
        -webkit-clip-path: none;
        clip-path: none;
        height: 470px;
    }

    .course-results-title {
        top: 415px;
    }

    .course-results-gallery {
        top: 500px;
        padding: 0 10px;
    }

    .course-details {
        text-align: left;
        width: 200px;
        margin: 0 20px;
    }

    .course-details .course-title {
        text-align: left;
    }

    .course-details .course-description {
        font-size: 16px;
    }

    #course-1 {
        background-position: 200px 0px;
        -webkit-clip-path: none;
        clip-path: none;
    }

    #course-2 {
        background-position: -140px 30px;
        -webkit-clip-path: none;
        clip-path: none;
    }

    #course-2 .course-title {
        text-align: right;
    }

    #course-2 .course-details {
        padding-top: 80px;
        text-align: right;
    }

    #course-3 {
        background-position: 200px 0px;
        -webkit-clip-path: none;
        clip-path: none;
    }

    .course-order-item-amount,
    .course-order-item-title,
    .course-order-item-buy {
        float: none;
        width: 100%;
    }
}