a,a:hover{text-decoration:none}
.relative,.sidebar,body{position:relative}
.popup .description,h2{text-transform:uppercase}
*{margin:0;padding:0;outline:0!important;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;list-style:none;resize:none}
.popup .day,.popup .time{margin-bottom:10px;font-size:10px}
input,textarea{font-family:inherit!important;font-size:inherit!important}
img{border:none;max-width:100%;-webkit-user-drag:none}
[type=submit],button{cursor:pointer;border:0}
table{border-collapse:collapse}
.mgt20{margin-top:20px!important}
.mgt40{margin-top:40px!important}
a{cursor:pointer}
body{font-family:'Open Sans',sans-serif;font-size:16px;text-align:center;font-weight:300;color:#000}
.sidebar .nav_header .name span,.sidebar nav li.active a,.sidebar nav li:hover a{font-weight:700}
@font-face{font-family:pf_din_text_comp_promedium;src:url(../fonts/pfdintextcomppro-medium-webfont.eot);src:url(../fonts/pfdintextcomppro-medium-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/pfdintextcomppro-medium-webfont.woff2) format('woff2'),url(../fonts/pfdintextcomppro-medium-webfont.woff) format('woff'),url(../fonts/pfdintextcomppro-medium-webfont.ttf) format('truetype'),url(../fonts/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium) format('svg');font-weight:400;font-style:normal}
.container{max-width:960px;overflow-x:hidden}
.sidebar{font-size:12px;background:#fff;z-index:10}
.sidebar .nav_header{padding:14px 20px;background:#1a2338}
.sidebar .nav_header .img{margin-right:10px;margin-top:2px;float:left;width:40px;height:40px}
.sidebar .nav_header .img img{width:100%;border-radius:50%}
.sidebar .nav_header .name{text-align:left;float:left;color:#fff;margin-top:5px}
.sidebar .nav_header a{float:right;color:#fff;margin-top:15px}
.sidebar nav{margin-top:12px}
.sidebar nav li{height:40px}
.sidebar nav li.active,.sidebar nav li:hover{background:#f2f2f2}
.sidebar nav li.active a div,.sidebar nav li:hover a div{background-position:50% bottom}
.sidebar nav li a{color:#000;padding-left:19px;line-height:40px;display:block;padding-right:20px}
.sidebar nav li a .icon1{background:url(../img/nav_1.png) 50% 0 no-repeat}
.sidebar nav li a .icon2{background:url(../img/nav_2.png) 50% 0 no-repeat}
.sidebar nav li a .icon3{background:url(../img/nav_3.png) 50% 0 no-repeat}
.sidebar nav li a .icon4{background:url(../img/nav_4.png) 50% 0 no-repeat}
.sidebar nav li a .icon5{background:url(../img/nav_5.png) 50% 0 no-repeat}
.sidebar nav li a .icon6{background:url(../img/nav_6.png) 50% 0 no-repeat}
.sidebar nav li a .icon7{background:url(../img/nav_7.png) 50% 0 no-repeat}
.sidebar nav li a .icon8{background:url(../img/nav_8.png) 50% 0 no-repeat}
.sidebar nav li a .icon9{background:url(../img/nav_9.png) 50% 0 no-repeat}
.sidebar nav li a div{margin-top:8px;margin-right:20px;float:left;width:24px;height:24px}
.sidebar nav li a span{width:16px;height:16px;margin-top:12px;display:inline-block;float:right;background:#ff9545;background:linear-gradient(to bottom,#ff9545 0,#fe8f40 6%,#ff7f45 26%,#ff7a42 32%,#fe6847 52%,#ff5347 74%,#ff514a 77%,#fe4d47 81%,#fe404a 97%,#ff424c 100%);font-weight:700;color:#fff;border-radius:50%;text-align:center;line-height:16px;box-shadow:0 1px 0 rgba(0,0,0,.1)}
@media only screen and (min-device-width:320px) and (max-device-width:767px){.main_block{padding:0!important}
.content .title .burger{display:inline-block!important}
.content .box .item{width:100%}
.content .box #calendar{padding:20px 0}
.sidebar{position:absolute;top:0;height:100%;left:0;width:300px;z-index:500;transition:all .5s ease;transform:translateX(-150%)}
.sidebar .nav_header{display:block}
.sidebar.active{transform:translateX(0)}
.fc-content span.fc-time{font-size:9px!important;line-height:10px;top:-13px}
}
.content .title,.main_block{position:relative}
.popup .day-allready,.popup .day-false,.popup .day-important,.popup .day-soon,.popup .description{display:inline-block;width:100%}
.main_block{background:url(../img/main_bg.jpg) 50% no-repeat;background-size:cover}
.main_block .container{background:#fff}
.content #calendar .fc-view-container *,.content #calendar .fc-view-container :after,.content #calendar .fc-view-container :before{color:#000!important}
.popup{font-size:10px;padding:10px;max-width:120px!important;height:90px!important;transform:translate(-50%,-50%)}
.popup .time{float:left}
.popup .day{float:right}
.popup .description{font-family:pf_din_text_comp_promedium;font-size:12px}
.popup .day-allready{height:14px;background:url(../img/allready.png) 50% 50% no-repeat}
.popup .day-soon{height:16px;background:url(../img/soon.png) 50% 50% no-repeat}
.popup .day-false{height:14px;background:url(../img/close.png) 50% 50% no-repeat}
.popup .day-important{height:16px;background:url(../img/important2.png) 50% 50% no-repeat}
.page-content .box{text-align:center;box-shadow:inset 10px 10px 40px -17px rgba(0,0,0,.5)}
.page-content .title .burger{font-size:24px;color:#000;position:absolute;top:-10px;left:20px;display:none}
.page-content .title h3{font-size:14px;margin-top:13px;margin-bottom:13px;font-family:pf_din_text_comp_promedium}
.page-content .title .chat{position:absolute;right:11px;top:-5px}
.page-content .fc-event-container .day-allready:before,.page-content .fc-event-container .day-false:before,.page-content .fc-event-container .day-important:before,.page-content .fc-event-container .day-soon:before{display:block;width:16px;top:5px;left:50%;margin-left:-8px;content:''}
.page-content .fc-event-container .day-allready{position:relative}
.page-content .fc-event-container .day-allready:before{position:absolute;height:14px;background:url(../img/allready.png) 50% 50% no-repeat}
.page-content .fc-event-container .day-soon{position:relative}
.page-content .fc-event-container .day-soon:before{position:absolute;height:16px;background:url(../img/soon.png) 50% 50% no-repeat}
.page-content .fc-event-container .day-false{position:relative}
.page-content .fc-event-container .day-false:before{position:absolute;height:14px;background:url(../img/close.png) 50% 50% no-repeat}
.page-content .fc-event-container .day-important{position:relative;display:block}
.page-content .fc-event-container .day-important:before{position:absolute;height:16px;background:url(../img/important.png) 50% 50% no-repeat}
.page-content .day-allready,.page-content .day-false,.page-content .day-soon{background:#f2f2f2}
.page-content .fc-event{position:relative}
.page-content .fc-event .fc-content{white-space:normal;overflow:visible}
.page-content .fc-event .fc-content .fc-title{display:none}
.page-content .fc-event .fc-day-number{padding-bottom:0!important}
.page-content .fc-event .fc-time{color:#000!important;position:absolute;bottom:100%;font-size:10px;padding-bottom:1px}
.page-content .day-important{background:#ff3e49;background:linear-gradient(to right,#ff3e49 0,#ff464b 12%,#fe4b47 18%,#ff4f49 23%,#ff9041 97%,#ff8f43 100%)}
.page-content #calendar{padding:20px 40px}
.page-content #calendar .fc-body .fc-row{height:58px!important}
.page-content #calendar .fc-scroller{height:100%!important}
.page-content #calendar .fc-head-container{border-top:none!important;height:20px;padding-top:5px}
.page-content #calendar .fc-view-container *,.page-content #calendar .fc-view-container :after,.page-content #calendar .fc-view-container :before{font-style:normal;font-size:10px}
.page-content #calendar .fc-view-container{overflow:hidden}
.page-content #calendar .fc-view-container .fc-day-header{border-top:none;border-color:transparent;font-family:'Open Sans',sans-serif}
.page-content #calendar .fc-toolbar .fc-center,.page-content .item .info_block h2{font-family:pf_din_text_comp_promedium;color:#fff}
.page-content #calendar .fc-toolbar{height:38px;background:#ff9341;background:linear-gradient(to right,#ff9341 0,#fe8d41 10%,#ff7046 42%,#ff6b43 45%,#ff6c46 46%,#ff6a47 48%,#fe6045 58%,#ff5748 68%,#ff5345 70%,#ff5349 72%,#fe5047 75%,#ff504a 76%,#fe4d47 78%,#fe4b47 81%,#ff4b4a 81%,#fe3f47 95%,#ff3f4a 96%,#ff3c4a 100%);margin-bottom:0;border-radius:5px 5px 0 0}
.page-content #calendar .fc-toolbar .fc-center h2{font-size:14px;line-height:40px}
.page-content #calendar .fc-toolbar .fc-left,.page-content #calendar .fc-toolbar .fc-right{border:none;background:0 0}
.page-content #calendar .fc-toolbar .fc-left button,.page-content #calendar .fc-toolbar .fc-right button{background:0 0;border:none;box-shadow:none;width:30px;height:38px;position:relative}
.page-content #calendar .fc-toolbar .fc-left button .fc-icon-left-single-arrow,.page-content #calendar .fc-toolbar .fc-right button .fc-icon-left-single-arrow{display:block;position:absolute;width:100%;height:100%;top:0;left:0;margin:0;padding:0;background:url(../img/left.png) 50% 50% no-repeat}
.page-content #calendar .fc-toolbar .fc-left button .fc-icon-left-single-arrow:after,.page-content #calendar .fc-toolbar .fc-right button .fc-icon-left-single-arrow:after{display:none}
.page-content #calendar .fc-toolbar .fc-left button .fc-icon-right-single-arrow,.page-content #calendar .fc-toolbar .fc-right button .fc-icon-right-single-arrow{display:block;position:absolute;width:100%;height:100%;top:0;left:0;margin:0;padding:0;background:url(../img/right.png) 50% 50% no-repeat}
.page-content #calendar .fc-toolbar .fc-left button .fc-icon-right-single-arrow:after,.page-content #calendar .fc-toolbar .fc-right button .fc-icon-right-single-arrow:after{display:none}
.page-content .item{position:relative;height:180px;margin-bottom:2px;width:640px;max-width:100%;display:inline-block}
.page-content .item .info_block{padding-top:45px;position:relative;z-index:20;display:inline-block}
.page-content .item .info_block h2{font-size:20px;line-height:22px;margin-bottom:38px}
.page-content .item .info_block .block{margin-left:10px;display:inline-block;font-size:8px;width:240px;color:#fff}
.page-content .item .info_block .block .button,.page-content .item .info_block .block span{font-size:12px;font-family:pf_din_text_comp_promedium}
.page-content .item .info_block .block .min{padding-top:2px;float:left;width:30px}
.page-content .item .info_block .block .button{padding-top:6px;margin-left:10px;border-radius:15px;text-transform:uppercase;color:#fff;display:inline-block;width:110px;height:30px;background:#fa9d3e;background:linear-gradient(to right,#fa9d3e 0,#ffa042 2%,#fe9d3f 6%,#ff9341 18%,#ff5f45 56%,#ff5649 63%,#ff4a47 72%,#fe4749 73%,#ff3a4b 85%,#fe3349 94%,#ff304c 98%,#fd2e4a 100%)}
.page-content .item .info_block .block .date{padding-top:2px;float:right;width:55px}
.page-content .item.soon{height:120px}
.page-content .item.soon:before{content:'';position:absolute;top:0;left:0;bottom:0;right:0;z-index:10;background:rgba(255,255,255,.8)}
.page-content .item.soon .info_block{padding-top:10px}
.page-content .item.soon .info_block h2{color:#000;margin-bottom:15px}
.page-content .item.soon .info_block .block{color:#000}
.page-content .item.soon .info_block .block .center{display:inline-block}
.page-content .item.soon .info_block .block .center span{font-family:pf_din_text_comp_promedium}
.page-content .item.bg_1{background:url(../img/item_bg1.jpg) 50% no-repeat;background-size:cover}
.page-content .item.bg_2{background:url(../img/item_bg2.jpg) 50% no-repeat;background-size:cover}
.page-content .item.bg_3{background:url(../img/item_bg3.jpg) 50% no-repeat;background-size:cover}
.page-content .item.bg_4{background:url(../img/soon_bg1.jpg) 50% no-repeat;background-size:cover}
.page-content .item.bg_5{background:url(../img/soon_bg2.jpg) 50% no-repeat;background-size:cover}
.page-content .more{padding:10px 0;background:#d9d9d9}
.page-content .more .button{display:inline-block;background:#fff;color:#000;font-family:pf_din_text_comp_promedium;border-radius:15px;width:100px;height:30px;font-size:14px;padding-top:5px}
.today{border:2px solid #000!important}
.shadow{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:0 0;z-index:1}
.fc-day-number{pointer-events:none}